In [1]:
import re
import numpy as np
import pandas as pd

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import OneHotEncoder

to be able to see all 2000 rows (the maximum number of rows in our data) together:

In [201]:
# pd.set_option('display.max_rows', 2000)

loading data into 4 dataframes:

In [2]:
books = pd.read_csv('books.csv')
checkouts = pd.read_csv('checkouts.csv')
customers = pd.read_csv('customers.csv')
libraries = pd.read_csv('libraries.csv')

First we skim over each table to get a sense of the data type, anomalies, NaNs, etc. :

In [3]:
libraries

,id,name,street_address,city,region,postal_code
0,226-222@5xc-kc4-fpv,Multnomah County Library Capitol Hill,10723 SW capitol Hwy,Portland,OR,97219
1,23v-222@5xc-jv7-v4v,Multnomah County Library Northwest,2300 NW Thurman St,NaN,or,NaN
2,222-222@5xc-jvf-skf,Multnomah County Library St Johns,7510 N Charleston Ave,portland,or,97203
3,227-222@5xc-jww-btv,Multnomah County Library Hillsdale,1525 SW Sunset blvd,Portland,or,-97239
4,22d-222@5xc-kcy-8sq,Multnomah County Library Sellwood Moreland,7860 SE 13th AVE,Portland,OR,97202
5,223-222@5xc-jxr-tgk,MULTNOMAH County Library Woodstock,6008 se 49TH AVE,Portland,OR,-97206
6,zzw-224@5xc-jwv-2rk,Multnomah County Library Central,801 SW 10th Ave,Portland,NaN,97205
7,zzw-223@5xc-jv7-ct9,Friends OF the multnomah COUNTY Library,522 SW 5th Ave,NaN,OR,97204
8,226-222@5xc-jxj-7yv,Multnomah County Library Belmont,1038 SE CESAR E CHAVEZ blvd,Portland,OR,97214
9,zzw-222@5xc-knn-c5z,Multnomah County Library Holgate,7905 SE Holgate Blvd,Portland,OR,NaN
10,222-222@5xc-kkw-bzf,MULTNOMAH County Library MIDLAND,805 SE 122nd Ave,PORTLAND,or,#97233
11,228-222@5xc-jtz-hwk,Multnomah County Library,205 NE Russell St,NaN,NaN,97212-
12,225-222@5xc-jtz-hkf,MULTNOMAH County Library,216 ne Knott st,NaN,OR,NaN
13,222-222@5xc-jv5-nt9,Multnomah County Library North Portland,512 N Killingsworth St,Portland,OR,#97217
14,zzw-222@5xc-jv4-789,Multnomah County Library Albina,3605 NE 15th Ave,Portland,OR,97212
15,222-222@5xc-jxp-rp9,Multnomah County Library Hollywood Library,4040 NE Tillamook St,Portland,OR,97212_
16,22c-222@5xc-jwj-pvz,MULTNOMAH County Library KENTON,8226 N DENVER Ave,portland,OR,#97217
17,224-222@5xc-jw2-t9z,Multnomah COUNTY library Gregory Heights,7921 NE sandy BLVD,Portland,OR,_97213

The "libraries" table contains id, name, street_address, city, region, and the postal code. All libraries are located in Portland, OR so there is no information in columns city and region for us. There might be differences in book-returning behavior based on the overall (zip code) or exact (address) location. So we keep them, but we need to do some cleaning and transforming. The zip codes contain some extraneous characters around them (like "_", "-" or "#") and one NaN. We remove the extra characters and we find the right zip codes for the NaN values by googling the corresponding addresses (in this case there only 3 so we can do that):

In [4]:
libraries.postal_code[1] = '97210' #'2300 NW Thurman St'
libraries.postal_code[9] = '97206' #'7905 SE Holgate Blvd'
libraries.postal_code[12]= '97212' #'216 ne Knott st'

def get_num(x):
    return re.sub('[^0-9]', '', x)

libraries.postal_code = libraries.postal_code.apply(get_num)

Then we transform the addresses to latitude-longitudes to have a rough estimate of neighbourhood:

In [5]:
from geopy.geocoders import Nominatim
def get_lat_long(address):
    geolocator = Nominatim()
    full_adr = address + ', Portland, OR'
    location = geolocator.geocode(full_adr)
    return location.latitude, location.longitude

lat_long = libraries.street_address.apply(get_lat_long)

libraries['latitude'] = lat_long.map(lambda x:x[0])
libraries['longitude'] = lat_long.map(lambda x:x[1])
libraries

/usr/local/lib/python3.7/dist-packages/geopy/geocoders/osm.py:143: UserWarning: Using Nominatim with the default "geopy/1.17.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  UserWarning

,id,name,street_address,city,region,postal_code,latitude,longitude
0,226-222@5xc-kc4-fpv,Multnomah County Library Capitol Hill,10723 SW capitol Hwy,Portland,OR,97219,45.448003,-122.725449
1,23v-222@5xc-jv7-v4v,Multnomah County Library Northwest,2300 NW Thurman St,NaN,or,97210,45.535336,-122.699145
2,222-222@5xc-jvf-skf,Multnomah County Library St Johns,7510 N Charleston Ave,portland,or,97203,45.590036,-122.751053
3,227-222@5xc-jww-btv,Multnomah County Library Hillsdale,1525 SW Sunset blvd,Portland,or,97239,45.479834,-122.694087
4,22d-222@5xc-kcy-8sq,Multnomah County Library Sellwood Moreland,7860 SE 13th AVE,Portland,OR,97202,45.467632,-122.652746
5,223-222@5xc-jxr-tgk,MULTNOMAH County Library Woodstock,6008 se 49TH AVE,Portland,OR,97206,45.479005,-122.612107
6,zzw-224@5xc-jwv-2rk,Multnomah County Library Central,801 SW 10th Ave,Portland,NaN,97205,45.519201,-122.683202
7,zzw-223@5xc-jv7-ct9,Friends OF the multnomah COUNTY Library,522 SW 5th Ave,NaN,OR,97204,45.519585,-122.676793
8,226-222@5xc-jxj-7yv,Multnomah County Library Belmont,1038 SE CESAR E CHAVEZ blvd,Portland,OR,97214,45.515267,-122.622676
9,zzw-222@5xc-knn-c5z,Multnomah County Library Holgate,7905 SE Holgate Blvd,Portland,OR,97206,45.490566,-122.582281
10,222-222@5xc-kkw-bzf,MULTNOMAH County Library MIDLAND,805 SE 122nd Ave,PORTLAND,or,97233,45.516730,-122.538471
11,228-222@5xc-jtz-hwk,Multnomah County Library,205 NE Russell St,NaN,NaN,97212,45.541206,-122.663272
12,225-222@5xc-jtz-hkf,MULTNOMAH County Library,216 ne Knott st,NaN,OR,97212,45.541669,-122.663078
13,222-222@5xc-jv5-nt9,Multnomah County Library North Portland,512 N Killingsworth St,Portland,OR,97217,45.562459,-122.671537
14,zzw-222@5xc-jv4-789,Multnomah County Library Albina,3605 NE 15th Ave,Portland,OR,97212,45.549385,-122.651389
15,222-222@5xc-jxp-rp9,Multnomah County Library Hollywood Library,4040 NE Tillamook St,Portland,OR,97212,45.537627,-122.621173
16,22c-222@5xc-jwj-pvz,MULTNOMAH County Library KENTON,8226 N DENVER Ave,portland,OR,97217,45.582807,-122.686463
17,224-222@5xc-jw2-t9z,Multnomah COUNTY library Gregory Heights,7921 NE sandy BLVD,Portland,OR,97213,45.551649,-122.581324

The number of pages for books are in string format. Let's make them integer:

In [6]:
books.pages = books.pages.apply(get_num)
books.pages = books.pages.apply(int)

For date of publishing, we transform it to the number of days from the first available date in the list (1830-01-01), i.e. the oldest book in the library:

In [7]:
min_date = min(books.publishedDate.apply(pd.to_datetime))
books.publishedDate = [x.days for x in books.publishedDate.apply(pd.to_datetime)-min_date]

Defining a transformer to transform the lists in "categories" and "authors" columns to dictionaries like {"author1": 1, "author2": 1} so we can then feed it into sklearns's DictVectorizer for one-hot encoding:

In [8]:
class DictEncoder(BaseEstimator, TransformerMixin):
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        l=[]
        for xx in X:
            for x in xx:
                if pd.isnull(x):
                    l.append({'':0})
                else:
                    d = {x.replace("']","").replace("['",""):1}
                    l.append(d)

        return pd.Series(l)

Slightly different DictEncoder to handle the authors:

In [9]:
class DictEncoder2(BaseEstimator, TransformerMixin):
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        l=[]
        for x in X:
            if not isinstance(x,str):
                l.append({'':0})
            else:
                names = x.replace("'","").replace("[","").replace("]","").split(",")
                d = {a:1 for a in names}
                l.append(d)

        return pd.Series(l)

For decoding Publisher and other single-strings (not like authors and categories which are lists) we can use just OneHotEncoder.

For Title, we use CountVectorizer:

In [57]:
countvec = CountVectorizer()

Price is also in string format. Let's make it in float type:

In [11]:
def get_num_point(x):
    if isinstance(x, str):
        return re.sub('[^0-9\.0-9]', '', x)
    else:
        return np.nan
books.price = books.price.apply(get_num_point)
books.price = books.price.apply(float)

In [12]:
customers

,id,name,street_address,city,state,zipcode,birth_date,gender,education,occupation
0,df83ec2d0d409395c0d8c2690cfa8b67,Cynthia Barnfield,44 NE Meikle Pl,Portland,Oregon,97213.0,2009-09-10,female,High School,NaN
1,6aec7ab2ea0d67161dac39e5dcabd857,Elizabeth Smith,7511 SE Harrison St,Portland,Oregon,97215.0,1956-12-15,female,College,Blue Collar
2,0c54340672f510fdb9d2f30595c1ab53,Richard Pabla,1404 SE Pine St,Portland,Oregon,97214.0,1960-12-18,male,College,Education & Health
3,f0d9ce833ddc1f73c1e0b55bdebf012e,Charles Baker,12271 N Westshore Dr,Portland,Oregon,97217.0,2105-07-19,male,Graduate Degree,SALES
4,3720379163f6b46944db6c98c0485bfd,Ronald Lydon,5321 NE Skyport Way,NaN,Oregon,97218.0,1961-03-14,male,Graduate Degree,Blue Collar
...,...,...,...,...,...,...,...,...,...,...
1995,ae55f0b71b8b8e91945cd9a91b6e45ee,JOE Roberts,7331 NE Killingsworth St,Portland,NaN,97218.0,1955-05-23,male,Others,Business & Finance
1996,07fe407cc889ea21a8bdc04c305960b1,Matthew Coniglio,1908 NW Harborside Dr,Vancouver,washington,98660.0,1975-11-10,male,Others,Business & Finance
1997,9a2194fcd4f0f326f0ca334450e16a93,Earl Grier,22 NE graham ST,Portland,OREGON,97212.0,2007-10-02,male,Others,Education & Health
1998,01a598a05c48fdd18461d6411f51a109,Rogelio Richmann,7000 NE Airport Way,Portland,OREGON,97218.0,2001-02-19,male,College,Business & Finance
1999,2d1d65505400e568a045c828c9ebe365,Paul Groat,8993 SE 78th Pl,Portland,Oregon,97206.0,NaN,male,Others,Sales

Next is the customers table. We can transform customers' addresses into latitude-longtitue to get an idea of how distant they are from the library. It might be some information to use there:

In [ ]:
import geopy
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut

def do_geocode(address):
    geopy = Nominatim()
    try:
        return geopy.geocode(address)
    except GeocoderTimedOut:
        return do_geocode(address)

def get_lat_long(addresses):
    res = []
    for adr in addresses:
        geolocator = Nominatim()
        if isinstance(adr, str):
            location = do_geocode(adr)
            if location:
                res.append((location.latitude, location.longitude))
            else:
                res.append(np.nan)
        else:
            res.append(np.nan)
    return pd.Series(res)

customers['full_address'] = customers['street_address'] + ', ' + customers['city'] + ', ' + customers['state']
lat_long = customers.full_address.apply(get_lat_long)

customers['latitude'] = lat_long.map(lambda x:x[0])
customers['longitude'] = lat_long.map(lambda x:x[1])

I had to do it in a separete notbook and load here to save time:

In [13]:
df = pd.read_csv('customers_lat_long.csv')
customers['latitude'] = df.Latitude
customers['longitude'] = df.Longitude

Next, let's take a look at customers' birthdates. There are many wierd dates here:

In [14]:
customers.birth_date = customers.birth_date.apply(pd.to_datetime)
min(customers.birth_date)

Timestamp('1800-02-19 00:00:00')

In [15]:
max(customers.birth_date)

Timestamp('2120-08-25 00:00:00')

  92 customers are born before 1880:

In [16]:
sum(customers.birth_date.apply(pd.to_datetime)<pd.to_datetime('1900'))

92

And 94 are born in the future:

In [17]:
sum(customers.birth_date.apply(pd.to_datetime)>pd.to_datetime('2023'))

94

I have been trying to find out a common pattern(s) to guess a possible typo in the data entering, so I can guess the correct year based on that. But no pattern stands out clearly. So for now, I'm going to replace these (94+92) birthdates with NaN so later in the pipeline we impute them with other NaNs.

In [18]:
customers[customers.birth_date.apply(pd.to_datetime)>pd.to_datetime('2023')]

,id,name,street_address,city,state,zipcode,birth_date,gender,education,occupation,latitude,longitude
3,f0d9ce833ddc1f73c1e0b55bdebf012e,Charles Baker,12271 N Westshore Dr,Portland,Oregon,97217.0,2105-07-19,male,Graduate Degree,SALES,45.613485,-122.692632
10,a407f60337af8e554a1f85f99092a4e3,Peter Watkins,1847 SW Englewood Dr,Lake Oswego,Oregon,97034.0,2102-12-05,male,Graduate Degree,Blue Collar,45.436048,-122.696375
15,59f403406fe6523aba62e51117050f8d,John Milkins,16907 SW 72nd Ave,Portland,Oregon,97224.0,2108-11-02,male,High School,Others,45.397998,-122.749109
34,31fe87a21a2a7c39f4a03d0b736ab2a0,Glen Winslow,12728 SE Mill St,Portland,Oregon,97233.0,2106-08-04,male,High School,Tech,45.509741,-122.532434
53,f9372de3c8ea501601aa3fb59ec0f524,James Klein,1720 N Shaver St,Portland,Oregon,97227.0,2119-02-10,male,Graduate DEGREE,Sales,45.551979,-122.685827
...,...,...,...,...,...,...,...,...,...,...,...,...
1877,e9eb7de60a48d036ac6040540f6b3727,Evelyn Siragusa,17850 Stafford Rd,West Linn,Oregon,97068.0,2108-09-19,female,High School,Admin & Support,45.396412,-122.688356
1884,507daa4146217ea10e1e56a279563272,Helen Kozel,3907 NE 15th Ave,Portland,Oregon,_97212.0,2118-03-14,female,HIGH school,Education & Health,45.550926,-122.650623
1912,b3340b15223925b5e701b64afd0861c4,David Taylor,4364 SW Dickinson St,Portland,Oregon,97219.0,2111-10-05,male,College,Blue Collar,45.447371,-122.722155
1950,af15da3e14b19e4380b128972c8deff9,Tresa Villiard,1999 SE Water Ave,Portland,Oregon,97214.0,2101-05-23,female,College,Tech,45.510389,-122.665922
1989,53213d43d37e7903bd2c5f8e788574ad,Joe Brickell,7355 SW Brenne Ln,NaN,Oregon,97225.0,2112-05-25,male,High School,Admin & Support,NaN,NaN

Let's replace these values with NaN, so we can later properly impute them:

In [19]:
customers.loc[customers.birth_date<pd.to_datetime('1880'), 'birth_date'] = np.nan
customers.loc[customers.birth_date>pd.to_datetime('2023'), 'birth_date'] = np.nan

Next let's look at gender. We will use OneHotEncoder to encode gender (as well as education and occupation). But before that let's take a look to see our raw data make sense:

In [20]:
customers.gender.unique()

array(['female', ' female', 'male', 'MALE', nan, 'male ', 'FEMALE',
       ' male', 'female '], dtype=object)

As you can see, instead of having three unique valuses ('male', 'female', and NaN), we have duplicates of both 'male' and 'female' values due to slight differences in typing, e.g. s space entered at the beginning, or uppercase/lowercase differences. Let's fix this:

In [21]:
customers['gen2'] = pd.Series([isinstance(x, str) and x.lower().strip() for x in customers.gender])
customers.loc[customers['gen2']==False,'gen2'] = np.nan

In [22]:
customers['gen2'].value_counts()

male      967
female    932
Name: gen2, dtype: int64

The same is hapening with education. Lot's of variations in typing of the same values:

In [23]:
customers.education.unique()

array(['High School', 'College', 'Graduate Degree', 'Others',
       'High  School', ' Others', 'Others ', 'Graduate DEGREE', nan,
       'College ', 'Graduate  Degree', 'High school', ' College',
       'OTHERS', 'High  School ', 'High   School', 'others',
       'high School', 'college', 'graduate DEGREE', 'Graduate degree',
       'Graduate  Degree ', 'High School  ', 'GRADUATE degree', 'COLLEGE',
       'High School ', 'HIGH school', 'GRADUATE Degree',
       ' Graduate  Degree', 'Graduate   Degree', 'HIGH School',
       'High SCHOOL', 'HIGH SCHOOL', 'GRADUATE DEGREE', ' High School ',
       'graduate Degree', ' High  School', 'high SCHOOL',
       ' Graduate Degree ', 'Graduate Degree '], dtype=object)

We can fix it by:

In [24]:
for i, edu in enumerate(customers.education):
    if isinstance(edu,str):
        if 'school' in edu.lower():
            customers.loc[i, 'education'] = 'highschool'
        elif 'college' in edu.lower():
            customers.loc[i, 'education'] = 'college'
        elif 'graduate' in edu.lower():
            customers.loc[i, 'education'] = 'graduate'
        elif 'other' in edu.lower():
            customers.loc[i, 'education'] = 'other'

Same with occupation:

In [25]:
customers.occupation.unique()

array([nan, 'Blue Collar', 'Education & Health', 'SALES', 'Tech', 'Sales',
       'Others', 'Business & Finance', ' Business &  Finance ',
       'Education  & Health', 'EDUCATION & Health', ' Others',
       'Admin & Support', 'Tech ', 'blue Collar', 'Blue   Collar',
       'Education &    Health', 'Admin & SUPPORT',
       'Education  &  Health ', 'Business & FINANCE', 'Blue  Collar',
       'sales', 'Sales ', 'BUSINESS & Finance', 'Business  &  Finance ',
       'others', 'Business &  Finance', ' Blue  Collar',
       'education & Health', ' Blue Collar', 'Blue collar', 'BLUE collar',
       'Admin &  Support', 'BLUE COLLAR', ' Blue Collar ', 'OTHERS',
       'tech', 'Education  &  Health', ' Sales', 'Others ',
       'Education & HEALTH', 'Education  & Health ', 'ADMIN & Support',
       'Admin &   Support', 'Business  & Finance  ',
       'Education   &  Health', 'BLUE Collar', 'Education &  Health',
       'Blue COLLAR', 'Blue  Collar ', ' Education  & Health',
       ' Admin & Support', 'TECH', ' Business & Finance',
       'Education  &   Health', 'admin & Support', 'business & FINANCE',
       ' Education & Health', 'Business &   Finance', ' Tech',
       'EDUCATION & HEALTH', 'Admin  &  Support', 'Admin   & Support',
       'Business  & Finance', 'Business  &   Finance', 'Admin  & Support',
       'education & HEALTH', 'blue COLLAR', 'Admin & Support ',
       '  Business &  Finance', 'Education &  Health ',
       '  Admin &  Support', 'Business  &  Finance',
       'Business &  Finance '], dtype=object)

In [26]:
for i, ocu in enumerate(customers.occupation):
    if isinstance(ocu,str):
        if 'education' in ocu.lower():
            customers.loc[i, 'occupation'] = 'education_health'
        elif 'sale' in ocu.lower():
            customers.loc[i, 'occupation'] = 'sales'
        elif 'tech' in ocu.lower():
            customers.loc[i, 'occupation'] = 'tech'
        elif 'other' in ocu.lower():
            customers.loc[i, 'occupation'] = 'other'
        elif 'business' in ocu.lower():
            customers.loc[i, 'occupation'] = 'business_finance'
        elif 'admin' in ocu.lower():
            customers.loc[i, 'occupation'] = 'admin_support'
        elif 'blue' in ocu.lower():
            customers.loc[i, 'occupation'] = 'bluecollar'

Similar to the publishing date of books, I transformed the birthdate of customers to the distance from the oldest one:

In [27]:
customers.birth_date = customers.birth_date - min(customers.birth_date)
for i in range(len(customers)):
    if customers.loc[i,'birth_date']:
        customers.loc[i,'birth_date'] = customers.loc[i,'birth_date'].days
    else:
        customers.loc[i,'birth_date'] = np.nan

Finally, we reach to the last table to clean-up: checkouts

In [28]:
checkouts

,id,patron_id,library_id,date_checkout,date_returned
0,-xFj0vTLbRIC,b071c9c68228a2b1d00e6f53677e16da,225-222@5xc-jtz-hkf,2019-01-28,2018-11-13
1,HUX-y4oXl04C,8d3f63e1deed89d7ba1bf6a4eb101373,223-222@5xc-jxr-tgk,2018-05-29,2018-06-12
2,TQpFnkku2poC,4ae202f8de762591734705e0079d76df,228-222@5xc-jtz-hwk,2018-11-23,2019-01-24
3,OQ6sDwAAQBAJ,f9372de3c8ea501601aa3fb59ec0f524,23v-222@5xc-jv7-v4v,2018-01-15,2018-04-25
4,7T9-BAAAQBAJ,2cf3cc3b9e9f6c608767da8d350f77c9,225-222@5xc-jtz-hkf,2018-12-31,1804-01-23
...,...,...,...,...,...
1995,rNbuDwAAQBAJ,91871955f3641857832766ac3f5a0b95,222-222@5xc-jv5-nt9,2018-07-19,2018-08-12
1996,rcrCAgAAQBAJ,ad08956eb20efb746af650f906d439cf,22d-222@5xc-kcy-8sq,2018-03-07,2018-03-13
1997,F44fAQAAMAAJ,026262cc3454149303074c4113b5f118,226-222@5xc-jxj-7yv,2018-06-17,2018-06-27
1998,Ci1HAQAAMAAJ,08b29865e58e9b2aabff9684a703acf0,223-222@5xc-jxr-tgk,2018-12-10,2018-12-29
1999,TUAyAQAAMAAJ,ac0bb7b22b4df999a0b1216ded727f8e,228-222@5xc-jtz-hwk,2018-10-10,2018-11-01

Most of the dates are in 'yyyy-mm-dd' format. But some of them are not:

In [29]:
for i in range(len(checkouts)):
    date1 = checkouts.date_checkout[i]
    date2 = checkouts.date_returned[i]
    if isinstance(date1, str):
        if not re.match('\d{4}-\d{2}-\d{2}', date1):
            print(date1)
    if isinstance(date2, str):
        if not re.match('\d{4}-\d{2}-\d{2}', date2):
            print('                 ', date2)

                  2018|10|15%
                  2018/08/03
2018/12/31
                   20180612
 20180629
%2018 06 04
2018 03 31%
%2018/11/24
 20180319
                  20181111
 2018 01 03
                  2018/02/17
                   2018|05|13
%2018/02/26
                  2018 11 29%
20180804
                   20181006
                  20180927
%2018 07 23
                  20180120
                   2018|11|15
2018/07/07%
 20181121
                  %2018 04 27
                  2018|07|06%
2018|03|26
2018/01/11
                   20190109
                  2018|04|07%
20180913
2018/11/29
                  20190109
                  20180407%
                  %20180729
                   2018|07|13
                  2018|11|12
                  %2018 07 22
 2018|06|28
                  2018/07/12
2018 08 04
20180108%
                  2018|04|25
20180126
                  2018/04/13%
                  2018|08|15
20181125
                  2018 10 06
2018 10 17
                  2018|05|19
%2018 05 06
%2018 08 11
2018/05/18
                  2018 08 09
2018/06/07
                  2018|10|09
                  %2019 01 16
2018/11/12
2018/11/25
20180706
                  2018|08|06
2018/02/08
                  %20180329
                  2018/10/19%
                  20181208
                   2018 07 06
 2018 12 23

One way to get all these format right is to ignore any non-numeric characters (we got '20010302') and then parse the result based on yyyymmdd:

In [30]:
for i in range(len(checkouts)):
    date1 = checkouts.date_checkout[i]
    date2 = checkouts.date_returned[i]
    if isinstance(date1, str):
        date1 = re.sub('\D', '', date1)
        date1 = date1[:4]+'-'+date1[4:6]+'-'+date1[6:]
        checkouts.date_checkout[i] = pd.to_datetime(date1)
    if isinstance(date2, str):
        date2 = re.sub('\D', '', date2)
        date2 = date2[:4]+'-'+date2[4:6]+'-'+date2[6:]
        checkouts.date_returned[i] = pd.to_datetime(date2)

After getting the format right, again observe some very far off dates in both checkout_dates and returned_dates:

In [31]:
sum(checkouts.date_checkout>pd.to_datetime('2023'))

84

In [32]:
sum(checkouts.date_returned>pd.to_datetime('2023'))

95

In [33]:
sum(checkouts.date_checkout<pd.to_datetime('1900'))

90

In [34]:
sum(checkouts.date_returned<pd.to_datetime('1900'))

82

Since any obvious pattern of typos show up here, we simply replace these dates with NaN:

In [35]:
checkouts.loc[checkouts.date_checkout>pd.to_datetime('2023'),'date_checkout']=np.nan
checkouts.loc[checkouts.date_checkout<pd.to_datetime('1900'),'date_checkout']=np.nan
checkouts.loc[checkouts.date_returned>pd.to_datetime('2023'),'date_returned']=np.nan
checkouts.loc[checkouts.date_returned<pd.to_datetime('1900'),'date_returned']=np.nan

We define a new column 'delay' which is date_returned - date_checkout. For negative cases we are going to replace them with NaN:

In [36]:
checkouts['delay'] = checkouts.date_returned - checkouts.date_checkout

We go thorugh the new column 'delay' and transform it to binary values: 1 if it is delayed more than 28 days, 0 if it is less than 28 days. NaNs for negative values of delays:

In [37]:
for i in range(len(checkouts)):
    if checkouts.delay[i].days<0:
        checkouts.loc[i,'delay'] = np.nan
    elif checkouts.delay[i].days>28:
        checkouts.loc[i,'delay'] = 1
    elif checkouts.delay[i].days<=28:
        checkouts.loc[i,'delay'] = 0

We have 1451 valid data points:

In [38]:
sum([1 for x in checkouts.delay if x==0 or x==1])

1451

Lets make a clean X and y arrays for our machine learning. We need to match the ids so the right X's from libraries, books, and customers table match with the right y (delay) from checkouts table. For this I make separete Xs for each of the main players: person, book, library -->

In [39]:
valid_indices = [x==0 or x==1 for x in checkouts.delay]
Y = checkouts[valid_indices][['id', 'patron_id', 'library_id', 'delay']]
Y

,id,patron_id,library_id,delay
1,HUX-y4oXl04C,8d3f63e1deed89d7ba1bf6a4eb101373,223-222@5xc-jxr-tgk,0
2,TQpFnkku2poC,4ae202f8de762591734705e0079d76df,228-222@5xc-jtz-hwk,1
3,OQ6sDwAAQBAJ,f9372de3c8ea501601aa3fb59ec0f524,23v-222@5xc-jv7-v4v,1
6,CW-7tHAaVR0C,dd9f34e9d65126a2b02003d8ac60aaa4,22c-222@5xc-jwj-pvz,0
8,t1e3BWziAc8C,3b85b2c7b424618f533329018e9a11d5,222-222@5xc-jv5-nt9,0
...,...,...,...,...
1995,rNbuDwAAQBAJ,91871955f3641857832766ac3f5a0b95,222-222@5xc-jv5-nt9,0
1996,rcrCAgAAQBAJ,ad08956eb20efb746af650f906d439cf,22d-222@5xc-kcy-8sq,0
1997,F44fAQAAMAAJ,026262cc3454149303074c4113b5f118,226-222@5xc-jxj-7yv,0
1998,Ci1HAQAAMAAJ,08b29865e58e9b2aabff9684a703acf0,223-222@5xc-jxr-tgk,0
1999,TUAyAQAAMAAJ,ac0bb7b22b4df999a0b1216ded727f8e,228-222@5xc-jtz-hwk,0

In [40]:
X_library = libraries[['id', 'latitude', 'longitude']]
X_library

                     id   latitude   longitude
0   226-222@5xc-kc4-fpv  45.448003 -122.725449
1   23v-222@5xc-jv7-v4v  45.535336 -122.699145
2   222-222@5xc-jvf-skf  45.590036 -122.751053
3   227-222@5xc-jww-btv  45.479834 -122.694087
4   22d-222@5xc-kcy-8sq  45.467632 -122.652746
5   223-222@5xc-jxr-tgk  45.479005 -122.612107
6   zzw-224@5xc-jwv-2rk  45.519201 -122.683202
7   zzw-223@5xc-jv7-ct9  45.519585 -122.676793
8   226-222@5xc-jxj-7yv  45.515267 -122.622676
9   zzw-222@5xc-knn-c5z  45.490566 -122.582281
10  222-222@5xc-kkw-bzf  45.516730 -122.538471
11  228-222@5xc-jtz-hwk  45.541206 -122.663272
12  225-222@5xc-jtz-hkf  45.541669 -122.663078
13  222-222@5xc-jv5-nt9  45.562459 -122.671537
14  zzw-222@5xc-jv4-789  45.549385 -122.651389
15  222-222@5xc-jxp-rp9  45.537627 -122.621173
16  22c-222@5xc-jwj-pvz  45.582807 -122.686463
17  224-222@5xc-jw2-t9z  45.551649 -122.581324

In [41]:
X_merge_Y = pd.merge(
    Y,
    X_library,
    how="inner",
    left_on='library_id',
    right_on='id'
)
X_merge_Y.rename(columns={'patron_id':'customer_id',
                          'id_x': 'book_id',
                          'latitude': 'lat_library',
                          'longitude':'lng_library'}, inplace = True)
X_merge_Y = X_merge_Y[['customer_id', 'book_id', 'library_id', 'lat_library', 'lng_library', 'delay']]
X_merge_Y

,customer_id,book_id,library_id,lat_library,lng_library,delay
0,8d3f63e1deed89d7ba1bf6a4eb101373,HUX-y4oXl04C,223-222@5xc-jxr-tgk,45.479005,-122.612107,0
1,7fd53f66a6d4cd12875487af4008bb08,MOewp6bCFfgC,223-222@5xc-jxr-tgk,45.479005,-122.612107,1
2,ceb72a116d42d8d441e234f80ecf8bb9,iAzrAAAAIAAJ,223-222@5xc-jxr-tgk,45.479005,-122.612107,0
3,7a1f47edd69d69da4c5f95a6a95f75ee,ygoFAAAAQAAJ,223-222@5xc-jxr-tgk,45.479005,-122.612107,0
4,55ed00061e3e9092b8d390ff157b1166,eBcFQ3DUcQEC,223-222@5xc-jxr-tgk,45.479005,-122.612107,0
...,...,...,...,...,...,...
1446,719b0ad56ea4b9b4360e174be1b3b1e1,Ox4DAAAAQAAJ,222-222@5xc-jvf-skf,45.590036,-122.751053,0
1447,e29ba2bf18c9d091421af6f0c8e8a7f7,MOewp6bCFfgC,222-222@5xc-jvf-skf,45.590036,-122.751053,0
1448,4520c746cf75798c777d0f0a1bacb62c,xSYmAQAAIAAJ,222-222@5xc-jvf-skf,45.590036,-122.751053,0
1449,71325ff160af04c414dd03b58774f23a,-xFj0vTLbRIC,222-222@5xc-jvf-skf,45.590036,-122.751053,0
1450,7c13d2a04dd176cfd2e2d05b902ba3f8,xtY2AAAAMAAJ,222-222@5xc-jvf-skf,45.590036,-122.751053,0

Adding book informations:

In [42]:
books.rename(columns={'id': 'book_id'}, inplace=True)
books

,book_id,title,authors,publisher,publishedDate,categories,price,pages
0,hVFwAAAAQBAJ,Ogilvy on Advertising,['David Ogilvy'],Vintage,67093.0,['Social Science'],72.99,320
1,bRY9AAAAYAAJ,Foreign Publications for Advertising American ...,['United States. Bureau of Foreign and Domesti...,NaN,30315.0,['Advertising'],469.99,654
2,ZapAAAAAIAAJ,Advertising and the Public Interest,"['John A. Howard', 'James Hulbert']",NaN,52230.0,['Advertising'],372.00,784
3,A-HthMfF5moC,Profitable Advertising,NaN,NaN,23376.0,['Advertising'],240.99,559
4,4Z9JAAAAMAAJ,Report of the Federal Trade Commission on Dist...,['United States. Federal Trade Commission'],NaN,41637.0,['Government publications'],539.00,757
...,...,...,...,...,...,...,...,...
235,W58mAQAAIAAJ,Political and Commercial Control of the Minera...,['United States. Dept. of the Interior'],NaN,32141.0,NaN,153.00,503
236,frzDCQAAQBAJ,Water Resources Management IV,"['C.A. Brebbia', 'A. Kungolos']",WIT Press,64775.0,['Nature'],563.50,780
237,mQTxAAAAMAAJ,"Department Publications - State of California,...",['California. Dept. of Water Resources'],NaN,60265.0,['Hydrology'],216.50,748
238,lMkmAQAAMAAJ,Technical Report - South Carolina Marine Resou...,['South Carolina. Marine Resources Division'],NaN,54421.0,['Marine resources'],11.50,236
239,jPs8AAAAYAAJ,Water Resources Activities in the United States,['U.S. Congress. Senate. Select Committee on N...,NaN,47481.0,['Water resources development'],94.50,544

In [43]:
X_merge_Y = pd.merge(
    X_merge_Y,
    books,
    how="inner",
    on='book_id'
)
X_merge_Y

,customer_id,book_id,library_id,lat_library,lng_library,delay,title,authors,publisher,publishedDate,categories,price,pages
0,8d3f63e1deed89d7ba1bf6a4eb101373,HUX-y4oXl04C,223-222@5xc-jxr-tgk,45.479005,-122.612107,0,Indian Financial System 5E,['Khan'],Tata McGraw-Hill Education,64434.0,NaN,416.99,752
1,77a595f9fb214a8877c49f0c1e354f7e,HUX-y4oXl04C,23v-222@5xc-jv7-v4v,45.535336,-122.699145,1,Indian Financial System 5E,['Khan'],Tata McGraw-Hill Education,64434.0,NaN,416.99,752
2,3fa0ad163470ae588dbff044328de641,HUX-y4oXl04C,222-222@5xc-jv5-nt9,45.562459,-122.671537,0,Indian Financial System 5E,['Khan'],Tata McGraw-Hill Education,64434.0,NaN,416.99,752
3,230ea2e764085948ddf9d27371698b3a,HUX-y4oXl04C,zzw-222@5xc-knn-c5z,45.490566,-122.582281,0,Indian Financial System 5E,['Khan'],Tata McGraw-Hill Education,64434.0,NaN,416.99,752
4,8380f7f05a183e9b17f133d5e8a78707,HUX-y4oXl04C,226-222@5xc-jxj-7yv,45.515267,-122.622676,0,Indian Financial System 5E,['Khan'],Tata McGraw-Hill Education,64434.0,NaN,416.99,752
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1446,acd2c173eef280129c8782c164907fa9,N9V34rWEOGcC,222-222@5xc-kkw-bzf,45.516730,-122.538471,1,Financial Management,['Khan & Jain'],Tata McGraw-Hill Education,64768.0,['Corporations'],181.99,743
1447,3db968ed889159f4abb1b112a8221b4c,C4lNAAAAYAAJ,22d-222@5xc-kcy-8sq,45.467632,-122.652746,0,Mechanics of Engineering ...,['Irving Porter Church'],NaN,24837.0,['Engineering'],267.50,449
1448,abcbf151a1dc88305fe989666d8ff52e,P1AoDwAAQBAJ,zzw-222@5xc-jv4-789,45.549385,-122.651389,0,Reality In Advertising,['Rosser Reeves'],Lulu.com,68460.0,['Business & Economics'],384.00,506
1449,f106e9d626ec8ef9c1384efa24ef4de5,P1AoDwAAQBAJ,222-222@5xc-jvf-skf,45.590036,-122.751053,0,Reality In Advertising,['Rosser Reeves'],Lulu.com,68460.0,['Business & Economics'],384.00,506
1450,2ba376fb66ae6fb435a4e60e253c14e1,W58mAQAAIAAJ,225-222@5xc-jtz-hkf,45.541669,-122.663078,0,Political and Commercial Control of the Minera...,['United States. Dept. of the Interior'],NaN,32141.0,NaN,153.00,503

Now let's merge the final table (customers):

In [44]:
customers.rename(columns={'id': 'customer_id',
                          'latitude': 'lat_customer',
                          'longitude': 'lng_customer'}, inplace=True)
X_customers = customers[['customer_id', 'birth_date', 'gender', 'education', 'occupation', 'lat_customer', 'lng_customer']]
X_customers

,customer_id,birth_date,gender,education,occupation,lat_customer,lng_customer
0,df83ec2d0d409395c0d8c2690cfa8b67,21800,female,highschool,NaN,45.523487,-122.618735
1,6aec7ab2ea0d67161dac39e5dcabd857,2538,female,college,bluecollar,45.509127,-122.586057
2,0c54340672f510fdb9d2f30595c1ab53,4002,male,college,education_health,45.520622,-122.651425
3,f0d9ce833ddc1f73c1e0b55bdebf012e,NaN,male,graduate,sales,45.613485,-122.692632
4,3720379163f6b46944db6c98c0485bfd,4088,male,graduate,bluecollar,NaN,NaN
...,...,...,...,...,...,...,...
1995,ae55f0b71b8b8e91945cd9a91b6e45ee,1966,male,other,business_finance,NaN,NaN
1996,07fe407cc889ea21a8bdc04c305960b1,9442,male,other,business_finance,45.634387,-122.700972
1997,9a2194fcd4f0f326f0ca334450e16a93,21091,male,other,education_health,45.542684,-122.665952
1998,01a598a05c48fdd18461d6411f51a109,18675,male,college,business_finance,45.589159,-122.593494
1999,2d1d65505400e568a045c828c9ebe365,NaN,male,other,sales,45.457031,-122.583487

In [45]:
X_merge_Y = pd.merge(
    X_merge_Y,
    X_customers,
    how="inner",
    on='customer_id'
)
X_merge_Y

,customer_id,book_id,library_id,lat_library,lng_library,delay,title,authors,publisher,publishedDate,categories,price,pages,birth_date,gender,education,occupation,lat_customer,lng_customer
0,8d3f63e1deed89d7ba1bf6a4eb101373,HUX-y4oXl04C,223-222@5xc-jxr-tgk,45.479005,-122.612107,0,Indian Financial System 5E,['Khan'],Tata McGraw-Hill Education,64434.0,NaN,416.99,752,5500,female,graduate,tech,45.486876,-122.637210
1,77a595f9fb214a8877c49f0c1e354f7e,HUX-y4oXl04C,23v-222@5xc-jv7-v4v,45.535336,-122.699145,1,Indian Financial System 5E,['Khan'],Tata McGraw-Hill Education,64434.0,NaN,416.99,752,11634,female,other,sales,45.485904,-122.704089
2,3fa0ad163470ae588dbff044328de641,HUX-y4oXl04C,222-222@5xc-jv5-nt9,45.562459,-122.671537,0,Indian Financial System 5E,['Khan'],Tata McGraw-Hill Education,64434.0,NaN,416.99,752,10019,female,NaN,sales,45.568862,-122.619258
3,230ea2e764085948ddf9d27371698b3a,HUX-y4oXl04C,zzw-222@5xc-knn-c5z,45.490566,-122.582281,0,Indian Financial System 5E,['Khan'],Tata McGraw-Hill Education,64434.0,NaN,416.99,752,5399,male,NaN,education_health,45.454092,-122.586715
4,8380f7f05a183e9b17f133d5e8a78707,HUX-y4oXl04C,226-222@5xc-jxj-7yv,45.515267,-122.622676,0,Indian Financial System 5E,['Khan'],Tata McGraw-Hill Education,64434.0,NaN,416.99,752,14886,female,graduate,tech,45.552633,-122.591968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1446,acd2c173eef280129c8782c164907fa9,N9V34rWEOGcC,222-222@5xc-kkw-bzf,45.516730,-122.538471,1,Financial Management,['Khan & Jain'],Tata McGraw-Hill Education,64768.0,['Corporations'],181.99,743,6416,male,graduate,education_health,45.503783,-122.479257
1447,3db968ed889159f4abb1b112a8221b4c,C4lNAAAAYAAJ,22d-222@5xc-kcy-8sq,45.467632,-122.652746,0,Mechanics of Engineering ...,['Irving Porter Church'],NaN,24837.0,['Engineering'],267.50,449,10226,NaN,highschool,business_finance,45.491433,-122.677191
1448,abcbf151a1dc88305fe989666d8ff52e,P1AoDwAAQBAJ,zzw-222@5xc-jv4-789,45.549385,-122.651389,0,Reality In Advertising,['Rosser Reeves'],Lulu.com,68460.0,['Business & Economics'],384.00,506,8103,male,graduate,admin_support,45.541832,-122.622660
1449,f106e9d626ec8ef9c1384efa24ef4de5,P1AoDwAAQBAJ,222-222@5xc-jvf-skf,45.590036,-122.751053,0,Reality In Advertising,['Rosser Reeves'],Lulu.com,68460.0,['Business & Economics'],384.00,506,21809,female,college,education_health,45.616595,-122.720332
1450,2ba376fb66ae6fb435a4e60e253c14e1,W58mAQAAIAAJ,225-222@5xc-jtz-hkf,45.541669,-122.663078,0,Political and Commercial Control of the Minera...,['United States. Dept. of the Interior'],NaN,32141.0,NaN,153.00,503,2275,male,highschool,education_health,45.553670,-122.683791

Now we are ready to fit some models. But before that, we need to split our data into training anf test sets:

In [46]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(X_merge_Y, test_size=.2)

In [47]:
df_train.shape, df_test.shape

((1160, 19), (291, 19))

Let's start with a logistic model on all the features we got:

In [73]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, FunctionTransformer

y = df_train.delay.values.reshape(-1,1).astype('int')

numerical_features = ColumnTransformer([('num', 'passthrough', ['lat_library', 'lng_library', 
                                                                'lat_customer',	'lng_customer',
                                                                'price','pages',
                                                                'publishedDate', 'birth_date'])])

categorical_features= ColumnTransformer([('onehot', 'passthrough', ['publisher', 
                                                                    'categories', 'gender',
                                                                    'education', 'occupation'])])

dictvec1_feature = ColumnTransformer([('dictvec1', 'passthrough', ['categories'])])

dictvec2_feature = ColumnTransformer([('dictvec2', 'passthrough', ['authors'])])

countvec_feature = ColumnTransformer([('countvec', 'passthrough', ['title'])])

pipe_num = Pipeline([('num', numerical_features),
                     ('impute', SimpleImputer()),
                     ('scale', StandardScaler())])

pipe_onehot = Pipeline([('cat', categorical_features),
                        ('onehot', OneHotEncoder())])

pipe_dictvec1 = Pipeline([('dict1', dictvec1_feature),
                          ('dictenc1', DictEncoder()),
                          ('dictvec', DictVectorizer())
                          ])

pipe_dictvec2 = Pipeline([('dict2', dictvec2_feature),
                          ('dictenc2', DictEncoder2()),
                          ('dictvec', DictVectorizer())
                          ])

pipe_nlp = Pipeline([('title', countvec_feature),
                     ('flatten', FunctionTransformer(lambda x: x.reshape(-1,))),
                     ('countvec', countvec)])

union = FeatureUnion([('pipe_num', pipe_num), 
                      ('pipe_onehot',pipe_onehot),
                      ('pipe_dictvec1', pipe_dictvec1),
                      ('pipe_dictvec2', pipe_dictvec2),
                      ('pipe_nlp', pipe_nlp)])

union.fit(X_merge_Y)
X_tr = union.transform(df_train)

In [122]:
union.get_params()

{'n_jobs': None, 'transformer_list': [('pipe_num', Pipeline(steps=[('num',
                    ColumnTransformer(transformers=[('num', 'passthrough',
                                                     ['lat_library', 'lng_library',
                                                      'lat_customer',
                                                      'lng_customer', 'price',
                                                      'pages', 'publishedDate',
                                                      'birth_date'])])),
                   ('impute', SimpleImputer()), ('scale', StandardScaler())])),
  ('pipe_onehot', Pipeline(steps=[('cat',
                    ColumnTransformer(transformers=[('onehot', 'passthrough',
                                                     ['publisher', 'categories',
                                                      'gender', 'education',
                                                      'occupation'])])),
                   ('onehot', OneHotEncoder())])),
  ('pipe_dictvec1', Pipeline(steps=[('dict1',
                    ColumnTransformer(transformers=[('dictvec1', 'passthrough',
                                                     ['categories'])])),
                   ('dictenc1', DictEncoder()), ('dictvec', DictVectorizer())])),
  ('pipe_dictvec2', Pipeline(steps=[('dict2',
                    ColumnTransformer(transformers=[('dictvec2', 'passthrough',
                                                     ['authors'])])),
                   ('dictenc2', DictEncoder2()), ('dictvec', DictVectorizer())])),
  ('pipe_nlp', Pipeline(steps=[('title',
                    ColumnTransformer(transformers=[('countvec', 'passthrough',
                                                     ['title'])])),
                   ('flatten',
                    FunctionTransformer(func=<function <lambda> at 0x7f2d067c9830>)),
                   ('countvec', CountVectorizer())]))], 'transformer_weights': None, 'verbose': False, 'pipe_num': Pipeline(steps=[('num',
                  ColumnTransformer(transformers=[('num', 'passthrough',
                                                   ['lat_library', 'lng_library',
                                                    'lat_customer',
                                                    'lng_customer', 'price',
                                                    'pages', 'publishedDate',
                                                    'birth_date'])])),
                 ('impute', SimpleImputer()), ('scale', StandardScaler())]), 'pipe_onehot': Pipeline(steps=[('cat',
                  ColumnTransformer(transformers=[('onehot', 'passthrough',
                                                   ['publisher', 'categories',
                                                    'gender', 'education',
                                                    'occupation'])])),
                 ('onehot', OneHotEncoder())]), 'pipe_dictvec1': Pipeline(steps=[('dict1',
                  ColumnTransformer(transformers=[('dictvec1', 'passthrough',
                                                   ['categories'])])),
                 ('dictenc1', DictEncoder()), ('dictvec', DictVectorizer())]), 'pipe_dictvec2': Pipeline(steps=[('dict2',
                  ColumnTransformer(transformers=[('dictvec2', 'passthrough',
                                                   ['authors'])])),
                 ('dictenc2', DictEncoder2()), ('dictvec', DictVectorizer())]), 'pipe_nlp': Pipeline(steps=[('title',
                  ColumnTransformer(transformers=[('countvec', 'passthrough',
                                                   ['title'])])),
                 ('flatten',
                  FunctionTransformer(func=<function <lambda> at 0x7f2d067c9830>)),
                 ('countvec', CountVectorizer())]), 'pipe_num__memory': None, 'pipe_num__steps': [('num',
   ColumnTransformer(transformers=[('num', 'passthrough',
                                    ['lat_library', 'lng_library', 'lat_customer',
                                     'lng_customer', 'price', 'pages',
                                     'publishedDate', 'birth_date'])])),
  ('impute', SimpleImputer()),
  ('scale',
   StandardScaler())], 'pipe_num__verbose': False, 'pipe_num__num': ColumnTransformer(transformers=[('num', 'passthrough',
                                  ['lat_library', 'lng_library', 'lat_customer',
                                   'lng_customer', 'price', 'pages',
                                   'publishedDate', 'birth_date'])]), 'pipe_num__impute': SimpleImputer(), 'pipe_num__scale': StandardScaler(), 'pipe_num__num__n_jobs': None, 'pipe_num__num__remainder': 'drop', 'pipe_num__num__sparse_threshold': 0.3, 'pipe_num__num__transformer_weights': None, 'pipe_num__num__transformers': [('num',
   'passthrough',
   ['lat_library',
    'lng_library',
    'lat_customer',
    'lng_customer',
    'price',
    'pages',
    'publishedDate',
    'birth_date'])], 'pipe_num__num__verbose': False, 'pipe_num__num__verbose_feature_names_out': True, 'pipe_num__num__num': 'passthrough', 'pipe_num__impute__add_indicator': False, 'pipe_num__impute__copy': True, 'pipe_num__impute__fill_value': None, 'pipe_num__impute__missing_values': nan, 'pipe_num__impute__strategy': 'mean', 'pipe_num__impute__verbose': 0, 'pipe_num__scale__copy': True, 'pipe_num__scale__with_mean': True, 'pipe_num__scale__with_std': True, 'pipe_onehot__memory': None, 'pipe_onehot__steps': [('cat',
   ColumnTransformer(transformers=[('onehot', 'passthrough',
                                    ['publisher', 'categories', 'gender',
                                     'education', 'occupation'])])),
  ('onehot',
   OneHotEncoder())], 'pipe_onehot__verbose': False, 'pipe_onehot__cat': ColumnTransformer(transformers=[('onehot', 'passthrough',
                                  ['publisher', 'categories', 'gender',
                                   'education', 'occupation'])]), 'pipe_onehot__onehot': OneHotEncoder(), 'pipe_onehot__cat__n_jobs': None, 'pipe_onehot__cat__remainder': 'drop', 'pipe_onehot__cat__sparse_threshold': 0.3, 'pipe_onehot__cat__transformer_weights': None, 'pipe_onehot__cat__transformers': [('onehot',
   'passthrough',
   ['publisher',
    'categories',
    'gender',
    'education',
    'occupation'])], 'pipe_onehot__cat__verbose': False, 'pipe_onehot__cat__verbose_feature_names_out': True, 'pipe_onehot__cat__onehot': 'passthrough', 'pipe_onehot__onehot__categories': 'auto', 'pipe_onehot__onehot__drop': None, 'pipe_onehot__onehot__dtype': numpy.float64, 'pipe_onehot__onehot__handle_unknown': 'error', 'pipe_onehot__onehot__sparse': True, 'pipe_dictvec1__memory': None, 'pipe_dictvec1__steps': [('dict1',
   ColumnTransformer(transformers=[('dictvec1', 'passthrough', ['categories'])])),
  ('dictenc1', DictEncoder()),
  ('dictvec',
   DictVectorizer())], 'pipe_dictvec1__verbose': False, 'pipe_dictvec1__dict1': ColumnTransformer(transformers=[('dictvec1', 'passthrough', ['categories'])]), 'pipe_dictvec1__dictenc1': DictEncoder(), 'pipe_dictvec1__dictvec': DictVectorizer(), 'pipe_dictvec1__dict1__n_jobs': None, 'pipe_dictvec1__dict1__remainder': 'drop', 'pipe_dictvec1__dict1__sparse_threshold': 0.3, 'pipe_dictvec1__dict1__transformer_weights': None, 'pipe_dictvec1__dict1__transformers': [('dictvec1',
   'passthrough',
   ['categories'])], 'pipe_dictvec1__dict1__verbose': False, 'pipe_dictvec1__dict1__verbose_feature_names_out': True, 'pipe_dictvec1__dict1__dictvec1': 'passthrough', 'pipe_dictvec1__dictvec__dtype': numpy.float64, 'pipe_dictvec1__dictvec__separator': '=', 'pipe_dictvec1__dictvec__sort': True, 'pipe_dictvec1__dictvec__sparse': True, 'pipe_dictvec2__memory': None, 'pipe_dictvec2__steps': [('dict2',
   ColumnTransformer(transformers=[('dictvec2', 'passthrough', ['authors'])])),
  ('dictenc2', DictEncoder2()),
  ('dictvec',
   DictVectorizer())], 'pipe_dictvec2__verbose': False, 'pipe_dictvec2__dict2': ColumnTransformer(transformers=[('dictvec2', 'passthrough', ['authors'])]), 'pipe_dictvec2__dictenc2': DictEncoder2(), 'pipe_dictvec2__dictvec': DictVectorizer(), 'pipe_dictvec2__dict2__n_jobs': None, 'pipe_dictvec2__dict2__remainder': 'drop', 'pipe_dictvec2__dict2__sparse_threshold': 0.3, 'pipe_dictvec2__dict2__transformer_weights': None, 'pipe_dictvec2__dict2__transformers': [('dictvec2',
   'passthrough',
   ['authors'])], 'pipe_dictvec2__dict2__verbose': False, 'pipe_dictvec2__dict2__verbose_feature_names_out': True, 'pipe_dictvec2__dict2__dictvec2': 'passthrough', 'pipe_dictvec2__dictvec__dtype': numpy.float64, 'pipe_dictvec2__dictvec__separator': '=', 'pipe_dictvec2__dictvec__sort': True, 'pipe_dictvec2__dictvec__sparse': True, 'pipe_nlp__memory': None, 'pipe_nlp__steps': [('title',
   ColumnTransformer(transformers=[('countvec', 'passthrough', ['title'])])),
  ('flatten', FunctionTransformer(func=<function <lambda> at 0x7f2d067c9830>)),
  ('countvec',
   CountVectorizer())], 'pipe_nlp__verbose': False, 'pipe_nlp__title': ColumnTransformer(transformers=[('countvec', 'passthrough', ['title'])]), 'pipe_nlp__flatten': FunctionTransformer(func=<function <lambda> at 0x7f2d067c9830>), 'pipe_nlp__countvec': CountVectorizer(), 'pipe_nlp__title__n_jobs': None, 'pipe_nlp__title__remainder': 'drop', 'pipe_nlp__title__sparse_threshold': 0.3, 'pipe_nlp__title__transformer_weights': None, 'pipe_nlp__title__transformers': [('countvec',
   'passthrough',
   ['title'])], 'pipe_nlp__title__verbose': False, 'pipe_nlp__title__verbose_feature_names_out': True, 'pipe_nlp__title__countvec': 'passthrough', 'pipe_nlp__flatten__accept_sparse': False, 'pipe_nlp__flatten__check_inverse': True, 'pipe_nlp__flatten__func': <function __main__.<lambda>(x)>, 'pipe_nlp__flatten__inv_kw_args': None, 'pipe_nlp__flatten__inverse_func': None, 'pipe_nlp__flatten__kw_args': None, 'pipe_nlp__flatten__validate': False, 'pipe_nlp__countvec__analyzer': 'word', 'pipe_nlp__countvec__binary': False, 'pipe_nlp__countvec__decode_error': 'strict', 'pipe_nlp__countvec__dtype': numpy.int64, 'pipe_nlp__countvec__encoding': 'utf-8', 'pipe_nlp__countvec__input': 'content', 'pipe_nlp__countvec__lowercase': True, 'pipe_nlp__countvec__max_df': 1.0, 'pipe_nlp__countvec__max_features': None, 'pipe_nlp__countvec__min_df': 1, 'pipe_nlp__countvec__ngram_range': (1,
  1), 'pipe_nlp__countvec__preprocessor': None, 'pipe_nlp__countvec__stop_words': None, 'pipe_nlp__countvec__strip_accents': None, 'pipe_nlp__countvec__token_pattern': '(?u)\\b\\w\\w+\\b', 'pipe_nlp__countvec__tokenizer': None, 'pipe_nlp__countvec__vocabulary': None}

Let's fit a simple logistic model:

In [74]:
from sklearn.linear_model import LogisticRegression

log_model = LogisticRegression()
log_model.fit(X_tr, y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [78]:
from sklearn.metrics import accuracy_score, precision_score, recall_score
y_test = df_test.delay.values.reshape(-1,1).astype('int')
x_test = union.transform(df_test)
y_pred = log_model.predict(x_test)

print('accuracy: ', accuracy_score(y_test, y_pred))

accuracy:  0.8969072164948454

Let's try a random forest:

In [79]:
from sklearn.ensemble import RandomForestClassifier 
clf = RandomForestClassifier()
clf.fit(X_tr,y)

y_pred = clf.predict(x_test)
print('accuracy: ', accuracy_score(y_test, y_pred))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

accuracy:  0.8969072164948454

GradientBoosting:

In [80]:
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier()
clf.fit(X_tr,y)

y_pred = clf.predict(x_test)
print('accuracy: ', accuracy_score(y_test, y_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

accuracy:  0.9175257731958762

Gaussian

In [86]:
from sklearn.gaussian_process import GaussianProcessClassifier
clf = GaussianProcessClassifier()
clf.fit(X_tr.toarray(),y)

y_pred = clf.predict(x_test.toarray())
print('accuracy: ', accuracy_score(y_test, y_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

accuracy:  0.8900343642611683

KNeighbours:

In [87]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier()
clf.fit(X_tr.toarray(),y)

y_pred = clf.predict(x_test.toarray())
print('accuracy: ', accuracy_score(y_test, y_pred))

accuracy:  0.9106529209621993

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

Support Vector Machines

In [88]:
from sklearn.svm import SVC
clf = SVC()
clf.fit(X_tr.toarray(),y)

y_pred = clf.predict(x_test.toarray())
print('accuracy: ', accuracy_score(y_test, y_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

accuracy:  0.9140893470790378

In [93]:
from sklearn.svm import SVC
clf = SVC(C=5)
clf.fit(X_tr.toarray(),y)

y_pred = clf.predict(x_test.toarray())
print('accuracy: ', accuracy_score(y_test, y_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

accuracy:  0.9140893470790378

Naive Bayes

In [94]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_tr.toarray(),y)

y_pred = clf.predict(x_test.toarray())
print('accuracy: ', accuracy_score(y_test, y_pred))

accuracy:  0.6391752577319587

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [104]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB(var_smoothing=1)
clf.fit(X_tr.toarray(),y)

y_pred = clf.predict(x_test.toarray())
print('accuracy: ', accuracy_score(y_test, y_pred))

accuracy:  0.9140893470790378

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

more ensemble methods: Votingclassifier

In [109]:
from sklearn.ensemble import VotingClassifier
clf = VotingClassifier([
                        ('clf1', RandomForestClassifier()),
                        ('clf2', LogisticRegression()),
                        ('clf3', KNeighborsClassifier()),
                        ('clf4', GaussianNB(var_smoothing=2)),
                        ('clf5', SVC()),
                        ('clf6', GaussianProcessClassifier()),
                       ])
clf.fit(X_tr.toarray(),y)

y_pred = clf.predict(x_test.toarray())
print('accuracy: ', accuracy_score(y_test, y_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

accuracy:  0.9140893470790378

We tried these models pretty naively here, they needs much more fine-tuning to find out the best possible hyper-parameters. Our goal was just get an estimate of how far different models can take us. It seems an accuracy around .91-.92 is the maxximum we can get right now and there isn't much difference when we ensemble models together in this case.

So given that we have a moderate model, waht should be our recommendations to the library people? Let's take a look at feature-importances of our models:

For logistic models, it's just the coefficients of model parameters:

In [114]:
log_model.coef_

array([[ 3.96558653e-01,  1.33895976e-02, -5.21663082e-01,
         2.02029591e-02,  1.81141653e-02,  9.65153896e-01,
         3.08446139e-02, -1.17191006e-01, -7.37073708e-02,
        -2.87734216e-01, -7.14276535e-02,  3.97821739e-01,
        -2.93685296e-02,  1.77142280e-01, -7.78874679e-02,
         4.51146022e-01,  3.83415458e-01, -4.82599173e-02,
        -3.98788492e-01, -6.28266208e-02, -3.13949173e-02,
        -4.74141016e-02, -5.64351884e-01, -7.16476348e-02,
         8.33854942e-02, -2.86474181e-01, -1.10890917e-01,
        -2.58013162e-01, -2.93371518e-02, -2.95373897e-01,
        -2.16682002e-01, -5.11843295e-02,  5.11729379e-02,
         4.47785442e-01, -2.05665039e-01, -8.93672263e-02,
        -3.38977312e-02, -1.97953478e-01,  3.46362654e-01,
         1.55601149e-01, -8.91074831e-02,  1.48213346e-01,
        -7.82305892e-02,  2.23010566e-01, -6.54578409e-02,
        -9.53447290e-02, -9.19066947e-02,  1.88743246e-01,
         3.09198600e-01, -5.74643901e-02,  2.28728265e-02,
        -6.00024119e-03,  1.82660806e-01, -1.25435927e-01,
         8.83648155e-02, -6.37168386e-02, -6.19735574e-02,
        -1.89940096e-01, -2.92332214e-01,  3.89596933e-01,
        -8.63862565e-02, -1.66553500e-01, -1.17250327e-01,
         2.98526467e-01, -1.16020885e-01,  1.33421922e-02,
         2.37344989e-01, -1.05585639e-01,  2.74535468e-01,
         3.53273447e-01,  2.27058068e-01,  0.00000000e+00,
        -1.03764553e-01,  2.61825116e-01,  3.09198600e-01,
        -6.21084063e-02, -1.07300654e-01, -9.54108700e-02,
         4.29321223e-01, -1.59098714e-01,  2.13666642e-01,
        -9.90182847e-02, -9.19066947e-02, -5.41962535e-01,
         2.76033740e-01, -7.70169023e-03,  1.92471505e-01,
        -4.03599173e-02, -2.34980921e-02, -2.47969591e-01,
        -7.82305892e-02, -7.84807020e-02, -1.16020082e-01,
         2.21099628e-01,  3.09365853e-01,  7.13062474e-02,
        -1.00048289e-01, -5.02090218e-01,  3.56961975e-01,
        -5.69103688e-02, -1.27581012e-01, -1.38605571e-01,
         4.80430440e-01, -6.55212790e-02, -1.27727723e-01,
         9.47534805e-02,  3.74266664e-01, -9.60076953e-03,
        -1.04185510e-01,  6.10985980e-01,  4.63588880e-01,
        -1.45315524e-01, -1.38692931e-01,  2.66210447e-02,
         3.81945140e-01, -1.16020885e-01, -9.22854659e-02,
        -4.96053318e-02, -1.26580195e-01,  1.65684279e-01,
        -1.10854641e-01,  1.06298949e-01, -4.17768141e-01,
        -2.95373897e-01, -4.10624270e-02,  2.69087305e-01,
        -8.66753702e-02, -2.87734216e-01, -3.79439367e-02,
        -7.55940977e-02, -7.67603031e-02, -2.97744506e-01,
         1.71800034e-01,  1.82576945e-01,  2.35688966e-01,
        -3.56619891e-01, -2.89771311e-01, -1.02927910e-01,
        -2.51972059e-01, -2.58908171e-01,  4.25760954e-01,
         3.16293000e-01,  2.42382530e-01, -7.78874679e-02,
        -1.71551481e-01, -1.26739646e-01,  1.91452350e-01,
        -3.21300482e-02, -2.06225675e-01,  2.25904103e-01,
        -9.84860050e-02, -3.16252563e-01,  3.44894321e-01,
        -9.24929921e-02, -1.11202679e-01, -5.74516930e-02,
         1.95670089e-01,  2.68921205e-01, -1.49762092e-01,
        -1.22164750e-01, -2.17906057e-01,  1.93185546e-01,
        -2.34405025e-01,  6.19157342e-01, -1.96574339e-01,
        -1.13926681e-01, -5.19467442e-01,  4.55192249e-01,
         3.46321080e-01, -5.51027463e-01,  6.17629959e-02,
        -8.82100294e-02,  6.98516739e-02, -2.47765336e-01,
         2.02815962e-01,  2.32574753e-01, -1.59101128e-02,
         1.64266857e-01,  3.41661599e-02, -4.32555624e-01,
         7.60858372e-02,  2.26783383e-01, -2.86955987e-01,
         0.00000000e+00,  3.09198600e-01, -6.21084063e-02,
        -1.07300654e-01, -9.54108700e-02,  4.29321223e-01,
        -1.59098714e-01,  2.13666642e-01, -9.90182847e-02,
        -9.19066947e-02, -5.41962535e-01,  2.76033740e-01,
        -7.70169023e-03,  1.92471505e-01, -4.03599173e-02,
        -2.34980921e-02, -2.47969591e-01, -7.82305892e-02,
        -7.84807020e-02, -1.16020082e-01,  2.21099628e-01,
         3.09365853e-01,  7.13062474e-02, -1.00048289e-01,
        -5.02090218e-01,  3.56961975e-01, -5.69103688e-02,
        -1.27581012e-01, -1.38605571e-01,  4.80430440e-01,
        -6.55212790e-02, -1.27727723e-01,  9.47534805e-02,
         3.74266664e-01, -9.60076953e-03, -1.04185510e-01,
         6.10985980e-01,  4.63588880e-01, -1.45315524e-01,
        -1.38692931e-01,  2.66210447e-02,  3.81945140e-01,
        -1.16020885e-01, -9.22854659e-02, -4.96053318e-02,
        -1.26580195e-01,  1.65684279e-01, -1.10854641e-01,
         1.06298949e-01, -4.17768141e-01, -2.95373897e-01,
        -4.10624270e-02,  2.69087305e-01, -8.66753702e-02,
        -2.87734216e-01, -3.79439367e-02, -7.55940977e-02,
        -7.67603031e-02, -2.97744506e-01,  1.71800034e-01,
         1.82576945e-01,  2.35688966e-01, -3.56619891e-01,
        -2.89771311e-01, -1.02927910e-01, -2.51972059e-01,
        -2.58908171e-01,  4.25760954e-01,  3.16293000e-01,
         2.42382530e-01, -7.78874679e-02, -1.71551481e-01,
        -1.26739646e-01,  1.91452350e-01, -3.21300482e-02,
        -2.06225675e-01,  2.25904103e-01, -9.84860050e-02,
        -3.16252563e-01,  3.44894321e-01, -1.11202679e-01,
        -9.24929921e-02, -5.74516930e-02,  1.95670089e-01,
         2.68921205e-01, -1.49762092e-01, -1.22164750e-01,
         2.61825116e-01,  0.00000000e+00, -4.28499579e-02,
         0.00000000e+00, -9.19066947e-02, -4.28499579e-02,
        -7.70169023e-03, -8.28704864e-02, -9.19066947e-02,
         3.83415458e-01, -9.54878455e-02, -4.28499579e-02,
        -4.28499579e-02,  1.08895762e-01, -8.28704864e-02,
        -2.05373950e-01, -4.24585668e-01, -9.22854659e-02,
         2.17914367e-01, -7.84807020e-02, -4.07689524e-01,
        -5.14232052e-02,  5.97126213e-01, -1.08593644e-01,
        -4.73822472e-02, -1.63026746e-01, -4.93016599e-02,
        -4.93016599e-02, -8.91074831e-02,  2.09590265e-01,
        -1.80214673e-02,  4.94680930e-02, -2.05373950e-01,
        -1.00048289e-01,  2.78540575e-01,  1.08127964e+00,
        -1.87907231e-01, -8.36998868e-02, -7.55940977e-02,
        -5.36772934e-02,  2.75228204e-01,  2.05411642e-02,
         6.28776993e-01, -6.19735574e-02, -5.07671421e-02,
        -7.67603031e-02,  3.97044023e-01,  3.46362654e-01,
        -2.14467078e-01,  3.09198600e-01, -4.28499579e-02,
        -5.85328872e-02, -9.17723099e-02, -4.74953696e-02,
        -6.29335765e-01, -2.53835711e-02,  2.68921205e-01,
        -4.28499579e-02, -1.00048289e-01, -2.39142616e-01,
        -7.84807020e-02, -1.10890917e-01, -1.20327932e-01,
        -4.03599173e-02, -1.82299254e-01, -1.38692931e-01,
        -1.02927910e-01, -2.05373950e-01,  7.48233582e-01,
        -1.23229477e-01, -1.25435927e-01, -2.34980921e-02,
        -8.63862565e-02, -1.71551481e-01, -3.21300482e-02,
         4.04697788e-01, -2.48607864e-01, -1.65740973e-01,
         1.48213346e-01, -1.82358797e-01,  4.71428357e-01,
        -2.06178685e-01, -3.34775770e-02,  1.42091103e-01,
        -9.53447290e-02, -7.84807020e-02, -4.09455088e-01,
        -3.79439367e-02, -8.76950460e-02, -9.09594024e-02,
        -2.26910999e-01, -4.03599173e-02, -1.80214673e-02,
        -5.69103688e-02, -2.24224256e-01, -3.13949173e-02,
        -4.74141016e-02,  1.92471505e-01,  3.45469987e-01,
        -1.59098714e-01,  2.21099628e-01,  9.33989791e-01,
        -5.66504681e-03, -4.03599173e-02, -1.66451121e-01,
        -1.24802836e-01,  1.36192533e-01,  2.73900999e-02,
        -1.65740973e-01, -5.62869134e-02, -9.54108700e-02,
        -5.69103688e-02,  4.18224356e-02,  3.58877049e-01,
         1.00478425e-01, -9.38579525e-02, -6.21084063e-02,
        -1.36496654e-01,  5.86559890e-02, -7.67694279e-02,
         1.77378338e-01, -4.74141016e-02,  3.69847056e-02,
        -4.93016599e-02,  0.00000000e+00, -1.00048289e-01,
         2.41056742e-01,  1.65684279e-01, -1.29665031e-01,
        -1.69690149e-01, -9.54878455e-02, -7.14276535e-02,
        -1.38692931e-01, -5.89469014e-02, -5.36772934e-02,
        -4.28499579e-02,  3.44894321e-01,  5.86559890e-02,
        -6.37168386e-02, -5.36261675e-02, -1.23229477e-01,
         0.00000000e+00, -5.69103688e-02, -9.54108700e-02,
        -5.11843295e-02,  2.78481273e-01, -2.92332214e-01,
         3.97821739e-01, -7.67603031e-02,  4.35209963e-02,
        -1.02927910e-01, -1.10464541e-01, -1.38605571e-01,
         5.47801998e-02, -1.10890917e-01, -3.79439367e-02,
        -5.85328872e-02,  4.63020272e-01,  1.33421922e-02,
        -6.29804411e-02, -2.26610392e-02,  3.09198600e-01,
         2.28728265e-02, -1.95599881e-01, -1.38605571e-01,
        -7.74800088e-02, -1.39176007e-01,  3.77717934e-01,
        -1.09071729e-01, -1.55369840e-01, -5.85328872e-02,
        -1.27581012e-01, -3.20669816e-01,  6.47545135e-02,
         4.51146022e-01, -4.74141016e-02, -5.11843295e-02,
         4.92861874e-02, -3.30697084e-01, -1.82519606e-01,
        -5.65927545e-02, -2.63304865e-01, -1.33976225e-01,
        -4.96053318e-02, -1.38605571e-01,  9.35432913e-03,
        -1.10890917e-01, -7.84807020e-02,  1.88743246e-01,
        -5.11843295e-02, -9.54878455e-02, -8.46857807e-02,
         4.18224356e-02, -1.00048289e-01,  4.18224356e-02,
        -3.20783688e-01, -1.80214673e-02,  2.73900999e-02,
         2.78540575e-01, -5.28843991e-02,  1.86746971e-01,
        -2.76157207e-01, -3.09326972e-01,  4.63588880e-01,
         1.49217234e-01,  2.04640741e-01, -3.19669934e-01,
        -2.64264286e-01, -7.37073708e-02,  3.97044023e-01,
        -1.25435927e-01, -8.67319809e-02, -7.55940977e-02,
        -6.28266208e-02,  3.09365853e-01, -1.59703519e-01,
        -2.25633642e-01, -1.00048289e-01, -1.63026746e-01,
         2.56160069e-01, -1.27581012e-01, -1.38692931e-01,
         1.88743246e-01, -5.11843295e-02,  1.48213346e-01,
        -1.80214673e-02, -2.64264286e-01,  3.46362654e-01,
        -1.38692931e-01, -9.38579525e-02,  3.97821739e-01,
        -1.10890917e-01, -9.54108700e-02, -4.10624270e-02,
        -3.40584031e-01,  3.83415458e-01,  4.63588880e-01,
         1.42091103e-01, -3.34775770e-02, -2.51335062e-01,
        -1.45315524e-01, -2.37515398e-02, -7.07848552e-02,
        -5.69103688e-02,  4.96400694e-02, -8.61044328e-02,
         1.17761852e-01,  8.63552870e-02, -1.09071729e-01,
        -1.97953478e-01, -7.61387626e-02,  1.88589624e-01,
        -3.21300482e-02, -1.66451121e-01,  4.80430440e-01,
        -1.17250327e-01, -8.28704864e-02,  1.40372945e-01,
        -1.80214673e-02, -5.13967491e-01, -6.00024119e-03,
        -8.22215509e-02, -2.47318893e-01,  5.00088581e-02,
        -3.34775770e-02, -2.92332214e-01, -1.04954565e-01,
        -1.04192133e-01,  4.90463104e-01, -8.61823923e-02,
        -5.85328872e-02, -9.08290684e-02, -1.85038868e-02,
         3.09663836e-01,  4.96400694e-02, -1.88477667e-01,
         1.77378338e-01,  5.43680550e-01, -4.93016599e-02,
         5.86559890e-02,  3.97044023e-01,  3.53273447e-01,
         6.51391632e-01, -2.37891712e-02, -4.03599173e-02,
         3.46063840e-01, -5.36261675e-02, -4.10624270e-02,
         0.00000000e+00, -8.46857807e-02, -1.27727723e-01,
         4.88082938e-01, -6.04345178e-02, -4.93016599e-02,
         1.30658152e-01, -9.54108700e-02, -4.07689524e-01,
        -1.69690149e-01,  1.48213346e-01,  3.97044023e-01,
         1.60584686e-01, -2.40609388e-01, -1.10890917e-01,
        -1.05585639e-01, -6.37168386e-02, -3.59555092e-01,
        -6.33181555e-02, -8.45943429e-02, -1.80214673e-02,
         1.25467870e-01, -1.07849232e-01, -1.38605571e-01,
         5.86559890e-02, -5.85328872e-02, -1.04192133e-01,
         2.10195319e-01, -1.38605571e-01, -5.36261675e-02,
         2.32488283e-01, -1.80214673e-02,  3.22157080e-01,
        -7.61387626e-02,  2.73900999e-02, -8.45943429e-02,
         4.18224356e-02, -5.62789727e-02, -1.17969657e-01,
        -1.05585639e-01,  5.86297224e-01,  1.48213346e-01,
        -3.21300482e-02, -1.45315524e-01,  1.70413052e-01,
         1.34528380e-01, -7.78874679e-02, -8.32532626e-02,
        -1.00048289e-01,  5.86559890e-02,  2.79755617e-01,
         1.03941254e-02, -2.89771311e-01, -5.36261675e-02,
        -9.54108700e-02,  8.83648155e-02, -1.62314122e-01,
         4.52096500e-01, -1.27727723e-01, -4.28499579e-02,
        -7.84807020e-02, -2.53835711e-02, -8.66753702e-02,
        -4.93016599e-02, -1.38605571e-01, -4.98444750e-02,
         2.74535468e-01, -2.37515398e-02,  4.63020272e-01,
         5.63953445e-01,  3.26393313e-01,  1.88589624e-01,
         1.23101783e-04, -1.09071729e-01, -4.07689524e-01,
         3.16293000e-01, -2.69796265e-01, -7.69055192e-04,
        -2.53309885e-01, -4.07689524e-01,  3.22157080e-01,
         5.86559890e-02, -5.36261675e-02, -2.05665039e-01,
        -3.85622388e-01, -1.38605571e-01, -1.45542891e-01,
        -1.45315524e-01, -5.85328872e-02,  3.16293000e-01,
        -1.10890917e-01,  1.88589624e-01, -5.65927545e-02,
         3.10626418e-01,  6.58719695e-01, -1.27581012e-01,
        -3.90620023e-01, -2.82285386e-01, -5.85328872e-02,
        -5.69103688e-02, -1.02927910e-01,  3.74601776e-02,
        -1.66451121e-01, -8.56064984e-02,  2.13666642e-01,
        -4.07689524e-01, -8.64827280e-02,  2.13666642e-01,
        -8.24718708e-02,  1.77378338e-01, -2.52024151e-01,
         1.53998879e-01, -1.16020082e-01,  3.22157080e-01,
         2.38947719e-01, -9.08290684e-02, -2.64264286e-01,
        -8.28704864e-02,  2.13666642e-01, -4.93016599e-02,
        -4.10624270e-02, -1.27581012e-01, -9.90182847e-02,
        -5.36261675e-02, -3.38977312e-02,  4.18224356e-02,
        -4.67886871e-02, -7.19595154e-01, -1.16020885e-01,
        -2.53835711e-02, -1.71551481e-01, -2.93685296e-02,
         2.13666642e-01, -1.89713915e-01,  2.11158185e-01,
         1.65684279e-01, -5.36261675e-02,  1.00268937e-01,
        -5.85328872e-02, -2.90912843e-01, -1.82590947e-01,
        -9.54108700e-02, -2.52024151e-01, -3.21300482e-02,
        -4.96053318e-02, -1.02927910e-01,  2.17914367e-01,
         2.37344989e-01, -8.28704864e-02, -9.38579525e-02,
        -9.22854659e-02, -1.33705101e-01, -8.28704864e-02,
         1.48213346e-01,  8.09964135e-01, -1.63026746e-01,
        -5.85328872e-02,  4.71428357e-01, -5.62869134e-02,
         2.38327024e-01, -5.91877268e-02, -1.46595199e-01,
        -3.79439367e-02, -9.54108700e-02, -4.93016599e-02,
        -1.69690149e-01,  3.83415458e-01, -9.84860050e-02,
        -2.67271358e-01, -2.93125690e-01, -1.27581012e-01,
         2.78540575e-01, -1.67988029e-01, -5.36261675e-02,
         1.63779437e-02, -2.53835711e-02,  1.65684279e-01,
        -1.09071729e-01,  1.17218186e-01, -1.27581012e-01,
        -3.83023540e-01, -1.04185510e-01, -5.65927545e-02,
        -6.17331079e-02,  4.51146022e-01, -1.04185510e-01,
         7.20493049e-02, -1.66451121e-01, -6.37168386e-02,
        -1.25435927e-01, -1.09071729e-01,  3.81945140e-01,
        -1.67267153e-01,  1.06298949e-01, -4.93016599e-02,
         1.06298949e-01, -8.71031012e-02, -8.86299817e-02,
         2.61825116e-01, -1.10890917e-01, -2.25633642e-01,
         2.78540575e-01, -5.36261675e-02,  5.49805941e-02,
        -2.93685296e-02, -7.84807020e-02, -2.93125690e-01,
        -2.93685296e-02, -1.10890917e-01,  2.68921205e-01,
        -1.00048289e-01,  1.40372945e-01, -4.10624270e-02,
        -9.54108700e-02,  1.95262529e-01,  5.11729379e-02,
        -4.93016599e-02, -9.54878455e-02,  1.40372945e-01,
        -1.49349949e-01, -1.00048289e-01, -9.19066947e-02,
        -1.38605571e-01, -7.67603031e-02, -1.00048289e-01,
        -1.05884304e-01,  4.18224356e-02, -5.44624186e-03,
         3.72942352e-01]])

For our best model so far, GradientBoosting, we can get:

In [115]:
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier()
clf.fit(X_tr,y)

y_pred = clf.predict(x_test)
print('accuracy: ', accuracy_score(y_test, y_pred))
feature_import = clf.feature_importances_
print(feature_import)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

accuracy:  0.9209621993127147
[8.52764006e-02 7.54402996e-02 2.34004275e-01 1.17459171e-01
 1.82082157e-02 1.58463412e-01 5.26502496e-03 5.00750248e-02
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 1.89738580e-03
 4.80399723e-04 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 6.27740408e-04 2.73283754e-05 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 8.23575575e-04
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 3.05919371e-03 6.40558171e-04 0.00000000e+00 0.00000000e+00
 1.60318498e-03 2.73067840e-03 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 2.21259149e-03 0.00000000e+00
 3.30549994e-03 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 1.66168066e-03 0.00000000e+00
 0.00000000e+00 5.15599862e-04 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 5.06061452e-03 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 1.83122435e-03 2.22515231e-03 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 5.26029819e-04 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 6.00827234e-05 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 6.84540532e-04 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 1.75749508e-03
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 1.13800200e-03 0.00000000e+00 1.67664506e-04
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 3.37612936e-03 0.00000000e+00 4.59057632e-03
 1.09396064e-06 0.00000000e+00 3.71678984e-06 1.58900461e-03
 1.66356076e-02 1.95918631e-03 4.59883066e-03 1.06533317e-07
 1.22037399e-03 2.72690433e-03 2.64846292e-03 1.24185288e-03
 5.99837277e-06 4.19335968e-03 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 1.96010922e-03 0.00000000e+00 1.43853855e-03 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 6.03769013e-04
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 4.13875198e-03 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 9.28139761e-03
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 2.66148772e-03 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 2.49821357e-03
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 5.01060097e-04 0.00000000e+00
 0.00000000e+00 1.43761636e-03 2.85423276e-04 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 7.02757290e-04
 0.00000000e+00 0.00000000e+00 3.15240123e-03 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 1.46499262e-03
 0.00000000e+00 0.00000000e+00 0.00000000e+00 5.75558281e-03
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 2.74966915e-04 0.00000000e+00 0.00000000e+00 0.00000000e+00
 7.87487430e-03 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 2.28101846e-02 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 2.29791165e-03
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 1.31567047e-03 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 2.64377151e-03 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 4.65185411e-03 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 2.07682584e-03 1.05910126e-03
 0.00000000e+00 4.49400172e-04 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 2.05497365e-03
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 1.09673913e-03 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 2.47626507e-03
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 2.70685161e-04 0.00000000e+00 0.00000000e+00
 5.73869282e-06 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 2.04269997e-03
 0.00000000e+00 8.19045045e-04 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 7.68070273e-04 0.00000000e+00 0.00000000e+00 0.00000000e+00
 1.52854961e-03 0.00000000e+00 0.00000000e+00 5.98820011e-08
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 1.15973329e-03 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 5.20297560e-04 6.06936287e-04 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 8.32980656e-03
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 1.27159598e-03 0.00000000e+00 2.90776129e-04
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 4.04166635e-03 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 1.17115275e-04 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 3.41514167e-03
 8.17378621e-04 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 1.81927790e-03 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 3.28607727e-03 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 2.34585082e-03 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 4.88158792e-03 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 1.24091965e-02
 3.73409821e-04 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 2.24038973e-04 0.00000000e+00 5.80135570e-03 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 3.59595166e-03
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 3.06824438e-03 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 5.60095364e-03
 4.33429072e-04 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 2.33009222e-03 0.00000000e+00
 5.39687094e-06 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 3.78342291e-03 1.68302177e-03 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 2.88107947e-03
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 7.17594644e-04 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 1.49974339e-03 1.17098689e-03 0.00000000e+00
 1.64815267e-03 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 2.98525338e-04 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 2.27497040e-03 0.00000000e+00 0.00000000e+00 2.13160552e-03
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 7.46847718e-04
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00]

This is very confusing since we have lots of features here:

In [116]:
len(feature_import)

787

This is due to lots of one-hot-encoding we applied to many features easpecially books' titles, topics, and authors. If the goal was just prediction, this procedure is okay; doesn't hurt if we have lots of features as long as our predictions get higher accuracy. But we lose interpretability by complicating our model and adding lots of features. Sicne here the goal is give some verbal advice to other human beings, let's try some simple models that can tell a story. 

Let's build a simple model with one variable: the libraries' ids: it should give us an estimate on how different branches vary from each other:

In [124]:
X_merge_Y

,customer_id,book_id,library_id,lat_library,lng_library,delay,title,authors,publisher,publishedDate,categories,price,pages,birth_date,gender,education,occupation,lat_customer,lng_customer
0,8d3f63e1deed89d7ba1bf6a4eb101373,HUX-y4oXl04C,223-222@5xc-jxr-tgk,45.479005,-122.612107,0,Indian Financial System 5E,['Khan'],Tata McGraw-Hill Education,64434.0,NaN,416.99,752,5500,female,graduate,tech,45.486876,-122.637210
1,77a595f9fb214a8877c49f0c1e354f7e,HUX-y4oXl04C,23v-222@5xc-jv7-v4v,45.535336,-122.699145,1,Indian Financial System 5E,['Khan'],Tata McGraw-Hill Education,64434.0,NaN,416.99,752,11634,female,other,sales,45.485904,-122.704089
2,3fa0ad163470ae588dbff044328de641,HUX-y4oXl04C,222-222@5xc-jv5-nt9,45.562459,-122.671537,0,Indian Financial System 5E,['Khan'],Tata McGraw-Hill Education,64434.0,NaN,416.99,752,10019,female,NaN,sales,45.568862,-122.619258
3,230ea2e764085948ddf9d27371698b3a,HUX-y4oXl04C,zzw-222@5xc-knn-c5z,45.490566,-122.582281,0,Indian Financial System 5E,['Khan'],Tata McGraw-Hill Education,64434.0,NaN,416.99,752,5399,male,NaN,education_health,45.454092,-122.586715
4,8380f7f05a183e9b17f133d5e8a78707,HUX-y4oXl04C,226-222@5xc-jxj-7yv,45.515267,-122.622676,0,Indian Financial System 5E,['Khan'],Tata McGraw-Hill Education,64434.0,NaN,416.99,752,14886,female,graduate,tech,45.552633,-122.591968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1446,acd2c173eef280129c8782c164907fa9,N9V34rWEOGcC,222-222@5xc-kkw-bzf,45.516730,-122.538471,1,Financial Management,['Khan & Jain'],Tata McGraw-Hill Education,64768.0,['Corporations'],181.99,743,6416,male,graduate,education_health,45.503783,-122.479257
1447,3db968ed889159f4abb1b112a8221b4c,C4lNAAAAYAAJ,22d-222@5xc-kcy-8sq,45.467632,-122.652746,0,Mechanics of Engineering ...,['Irving Porter Church'],NaN,24837.0,['Engineering'],267.50,449,10226,NaN,highschool,business_finance,45.491433,-122.677191
1448,abcbf151a1dc88305fe989666d8ff52e,P1AoDwAAQBAJ,zzw-222@5xc-jv4-789,45.549385,-122.651389,0,Reality In Advertising,['Rosser Reeves'],Lulu.com,68460.0,['Business & Economics'],384.00,506,8103,male,graduate,admin_support,45.541832,-122.622660
1449,f106e9d626ec8ef9c1384efa24ef4de5,P1AoDwAAQBAJ,222-222@5xc-jvf-skf,45.590036,-122.751053,0,Reality In Advertising,['Rosser Reeves'],Lulu.com,68460.0,['Business & Economics'],384.00,506,21809,female,college,education_health,45.616595,-122.720332
1450,2ba376fb66ae6fb435a4e60e253c14e1,W58mAQAAIAAJ,225-222@5xc-jtz-hkf,45.541669,-122.663078,0,Political and Commercial Control of the Minera...,['United States. Dept. of the Interior'],NaN,32141.0,NaN,153.00,503,2275,male,highschool,education_health,45.553670,-122.683791

In [137]:
onehot = OneHotEncoder()
y = df_train.delay.values.astype(int).reshape(-1,1)
X_train = onehot.fit_transform(df_train.library_id.values.reshape(-1,1))
X_test = onehot.transform(df_test.library_id.values.reshape(-1,1))
log_model = LogisticRegression()
log_model.fit(X_train, y)
y_pred = log_model.predict(X_test)
print('accuracy: ', accuracy_score(y_test, y_pred))

accuracy:  0.9140893470790378

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [150]:
tup = [(x,y) for x,y in zip(onehot.get_feature_names(), log_model.coef_[0])]
sorted(tup, key=lambda x:-x[1])

[('x0_228-222@5xc-jtz-hwk', 0.4920665347612279),
 ('x0_222-222@5xc-jxp-rp9', 0.3887072750719287),
 ('x0_23v-222@5xc-jv7-v4v', 0.35237246479948514),
 ('x0_zzw-224@5xc-jwv-2rk', 0.2527886242743661),
 ('x0_22d-222@5xc-kcy-8sq', 0.2251523566021076),
 ('x0_226-222@5xc-jxj-7yv', 0.19112129542482895),
 ('x0_zzw-222@5xc-knn-c5z', 0.18520907947432594),
 ('x0_225-222@5xc-jtz-hkf', 0.14788563961685186),
 ('x0_zzw-222@5xc-jv4-789', 0.13392313835458824),
 ('x0_223-222@5xc-jxr-tgk', 0.10663138143181093),
 ('x0_222-222@5xc-jv5-nt9', 0.05441085648282607),
 ('x0_222-222@5xc-jvf-skf', 0.044473642852124295),
 ('x0_zzw-223@5xc-jv7-ct9', 0.011731185080519752),
 ('x0_227-222@5xc-jww-btv', -0.18068453134359647),
 ('x0_22c-222@5xc-jwj-pvz', -0.321663422652173),
 ('x0_224-222@5xc-jw2-t9z', -0.48436776892528616),
 ('x0_222-222@5xc-kkw-bzf', -0.5352120559625377),
 ('x0_226-222@5xc-kc4-fpv', -1.0645390163976987)]

This is a significant result. It shows how libraries are ranked based on the overall delays in returns they got. Multnomah County Library at 205 NE Russell St has the largest delays. After that it is Hollywood Library at 4040 NE Tillamook St. The two lowest on delays are: Library Capitol Hill at 10723 SW capitol Hwy and MIDLAND at 805 SE 122nd Ave. One recommendation would be to do a close comparison between these two groups to find out why thay have this vast discrepancy.

In [156]:
libraries[libraries.id=='228-222@5xc-jtz-hwk']['name'], libraries[libraries.id=='222-222@5xc-jxp-rp9']['name']

(11    Multnomah  County Library
 Name: name, dtype: object, 15     Multnomah  County  Library Hollywood Library
 Name: name, dtype: object)

In [161]:
libraries[libraries.id=='226-222@5xc-kc4-fpv'][['name', 'street_address']], libraries[libraries.id=='222-222@5xc-kkw-bzf'][['name', 'street_address']]

(                                        name        street_address
 0  Multnomah   County   Library Capitol Hill  10723 SW capitol Hwy,
                                 name    street_address
 10  MULTNOMAH County Library MIDLAND  805 SE 122nd Ave)

Let's build a similar model this time on just customers:

In [167]:
onehot = OneHotEncoder()
y = df_train.delay.values.astype(int).reshape(-1,1)
onehot.fit(X_merge_Y.customer_id.values.reshape(-1,1))
X_train = onehot.transform(df_train.customer_id.values.reshape(-1,1))
X_test = onehot.transform(df_test.customer_id.values.reshape(-1,1))
log_model = LogisticRegression()
log_model.fit(X_train, y)
y_pred = log_model.predict(X_test)
print('accuracy: ', accuracy_score(y_test, y_pred))

accuracy:  0.9140893470790378

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [168]:
tup = [(x,y) for x,y in zip(onehot.get_feature_names(), log_model.coef_[0])]
sorted(tup, key=lambda x:-x[1])

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

[('x0_006ec5b8f21fba3c5da132ee0f385a69', 0.8176325138513264),
 ('x0_00a03fa2d7f78b3a01a62beeb666cc34', 0.8176325138513264),
 ('x0_043f788a782b8933b5f208efefefb247', 0.8176325138513264),
 ('x0_04588e0e30daec741af385a0dab0a9bd', 0.8176325138513264),
 ('x0_0701c483239ce3146dc0103e67a1f589', 0.8176325138513264),
 ('x0_077af1a657c88e5ab8ac0cadfa64b3a0', 0.8176325138513264),
 ('x0_0a1ef2a67914bf221a7b6233e9f373cc', 0.8176325138513264),
 ('x0_0a5baae1b492a04e70678467b93ecef7', 0.8176325138513264),
 ('x0_0a7ffa18ed9f3eabe92329de44ee97cb', 0.8176325138513264),
 ('x0_0cccb436e836e9bb565127cdcf854efb', 0.8176325138513264),
 ('x0_0dd4585f087644eb3605d4cf6d1ed030', 0.8176325138513264),
 ('x0_162e9a61c7e7e1b4c0cdbe59c9aa13b6', 0.8176325138513264),
 ('x0_17a580b6122c944c77e084b399b1534a', 0.8176325138513264),
 ('x0_17d592b5583d6a8f7b008c93915798d6', 0.8176325138513264),
 ('x0_1a7d6c2a3bbbc30b42433b031a51eb2c', 0.8176325138513264),
 ('x0_1b2ed8978fcc7bd854c7b0c27ba6c2dd', 0.8176325138513264),
 ('x0_1d58fc02482ca9cf64a2ee77bfa02281', 0.8176325138513264),
 ('x0_1dea222cf5be45bb59a1f7144e7b126f', 0.8176325138513264),
 ('x0_1df7e4cac1f27bba87c7dc68b348b607', 0.8176325138513264),
 ('x0_1f16864c44d63c8a736140bc884e55d1', 0.8176325138513264),
 ('x0_1f8362d8bae9cc98914182c97aad090e', 0.8176325138513264),
 ('x0_206070a486b14a50ff73e059d57d278e', 0.8176325138513264),
 ('x0_227306426085534f0a77eb4058f71003', 0.8176325138513264),
 ('x0_235e24d38faafd1d2a3acc486dc71ea4', 0.8176325138513264),
 ('x0_2ace8abe959262f1e18c7b5bab2c1f5c', 0.8176325138513264),
 ('x0_2c6a01dc99d1898d7a1209c5522f6e98', 0.8176325138513264),
 ('x0_2c9a5665e1a8d8f3484329359d0ee0be', 0.8176325138513264),
 ('x0_2e08ca62f7701e50d9c056f035eddd65', 0.8176325138513264),
 ('x0_2f144642cc2a449dfb6a8dff734e5375', 0.8176325138513264),
 ('x0_2fba03125a87a41b78cb31eae5132779', 0.8176325138513264),
 ('x0_30eecf83e74b46526f6fd6970a9eb619', 0.8176325138513264),
 ('x0_35f9ecce1cd888e8272b4b74db39eea4', 0.8176325138513264),
 ('x0_41f6edecf6ee212e7fc14a3953c6581a', 0.8176325138513264),
 ('x0_454d23c2670ee28dd7d071aa03eaaa9e', 0.8176325138513264),
 ('x0_46e0bca4750ad74f6db79dd27fdd2191', 0.8176325138513264),
 ('x0_488d00ff128858619048194066bb5fbe', 0.8176325138513264),
 ('x0_48f4f7bc6d5ca81f35aa5672db6fc144', 0.8176325138513264),
 ('x0_4ae202f8de762591734705e0079d76df', 0.8176325138513264),
 ('x0_4e03ecad4300a401ff891894e1c11a83', 0.8176325138513264),
 ('x0_4eaf267505294afa64362297c5388ffb', 0.8176325138513264),
 ('x0_517e290cfd1ee879500163cbec54a75b', 0.8176325138513264),
 ('x0_53a38d7be0bc1ff28dbfcc3d0686f9d8', 0.8176325138513264),
 ('x0_5badc7b5021e3c11ec5482eeaf356471', 0.8176325138513264),
 ('x0_5ca72a7ddf7c0736270ca16413b24cc3', 0.8176325138513264),
 ('x0_6037ee1717a3633355936cbff731b997', 0.8176325138513264),
 ('x0_631eff2c3886868854eb863153b76d37', 0.8176325138513264),
 ('x0_6679faef80377cf3f3d3cef760069682', 0.8176325138513264),
 ('x0_6c528e86c1059824d686407dd8b6124a', 0.8176325138513264),
 ('x0_708464383124bdf35cb6925a51d331c4', 0.8176325138513264),
 ('x0_785973f81ea59c5abfa0d71ec3b16cd1', 0.8176325138513264),
 ('x0_792ae2098550361b5f6d0803b725f1f1', 0.8176325138513264),
 ('x0_7b640d0d395f1c57c4e91e6632fb224f', 0.8176325138513264),
 ('x0_7eaca3b35ad78bfd7b20045fc45cf064', 0.8176325138513264),
 ('x0_7f0c5f83fb81a6853489d0256a8aef89', 0.8176325138513264),
 ('x0_7fd53f66a6d4cd12875487af4008bb08', 0.8176325138513264),
 ('x0_88c6894dadfbb7ecfdfbd3f1e724605b', 0.8176325138513264),
 ('x0_8fd7b8b2619fa8243a5db3be52749246', 0.8176325138513264),
 ('x0_922ea99321e1d2dfe992586e8ecf8f4a', 0.8176325138513264),
 ('x0_930bbca06d4a32dd5584a06b81eb3592', 0.8176325138513264),
 ('x0_96aa3f310b38bbe8eaee07f1f98552da', 0.8176325138513264),
 ('x0_96fdd36ebb41f1ea1809a54a5ae8938a', 0.8176325138513264),
 ('x0_9b0ed138e9c5439aea631fc76a785de3', 0.8176325138513264),
 ('x0_9f0b4db43cea4d633384ffa61895417e', 0.8176325138513264),
 ('x0_9f3cf26d84b088b519ba9d5ee0ebadca', 0.8176325138513264),
 ('x0_a19c3904ebdac177b47d80b31c345d96', 0.8176325138513264),
 ('x0_a48f002624016d856ed7fc6b6b5a2cab', 0.8176325138513264),
 ('x0_a708f7738a07f28e45b7501457b710bf', 0.8176325138513264),
 ('x0_a7e9ac3fcbb8c52027da02cc396ec513', 0.8176325138513264),
 ('x0_a9b132d7c31b43e4cb7f0f48aa8e4a75', 0.8176325138513264),
 ('x0_ab3d7e360b3edfc929c9b33e2ca0a5e6', 0.8176325138513264),
 ('x0_adec8842e8d5a04bc4b5dab4fe957a95', 0.8176325138513264),
 ('x0_b1c7048f74aafa4a03599a5b136a7eef', 0.8176325138513264),
 ('x0_b1da7efccf4cc351334412c4547eda57', 0.8176325138513264),
 ('x0_b6d20aa7b58616f4b301ffedb9a1be53', 0.8176325138513264),
 ('x0_bdbc77600f103f40b51b0bfd9a05cf97', 0.8176325138513264),
 ('x0_be67722b6b16ec48028fe1c6efdfd1dd', 0.8176325138513264),
 ('x0_c0d72e0fcbfa26c9fcb0ed374612d517', 0.8176325138513264),
 ('x0_c6055d66708ec704801867388d76a01e', 0.8176325138513264),
 ('x0_c6df09307e94c22865f6363b0a9a3c47', 0.8176325138513264),
 ('x0_c72142715a4a33e080afc55747846584', 0.8176325138513264),
 ('x0_cb153ed6e716b1e6ecb91336c63262e5', 0.8176325138513264),
 ('x0_cc733df09e26fd35693ee877062fe4bd', 0.8176325138513264),
 ('x0_cef2b419a2de9eb6462138a7003822c0', 0.8176325138513264),
 ('x0_d3803b9ec0e32939b3413ca655100eef', 0.8176325138513264),
 ('x0_d6fac7cd294fc4efec8c98aba990d96a', 0.8176325138513264),
 ('x0_d9029b16c397177e6e8a34cf993aa220', 0.8176325138513264),
 ('x0_db7335a0d6db6fbed77b634bdb697e53', 0.8176325138513264),
 ('x0_df04b70a032fa70d2ecfd14324ec666c', 0.8176325138513264),
 ('x0_e1dfe137bb6573f248888f8f53732b01', 0.8176325138513264),
 ('x0_e6b0dd3d6d85a41ae3268c054fd80a5f', 0.8176325138513264),
 ('x0_e81414ea8a6660a37e642f71a6690e3c', 0.8176325138513264),
 ('x0_e9eb7de60a48d036ac6040540f6b3727', 0.8176325138513264),
 ('x0_ebee831b9ef6bf37cd55fda92b0b7dec', 0.8176325138513264),
 ('x0_ec605aeeb8c08123973ac7398aa3711b', 0.8176325138513264),
 ('x0_ecab2bc4c7e7a4addc79d6774567ce35', 0.8176325138513264),
 ('x0_eccd63fd4d03021bd409771f6d07f96e', 0.8176325138513264),
 ('x0_ed4005a4e008853ba448d4075514cb2d', 0.8176325138513264),
 ('x0_ed8a7fde3f13a5f5a625665e2562490d', 0.8176325138513264),
 ('x0_f0b57be92f5dc5e76bc39399b3766d35', 0.8176325138513264),
 ('x0_f31743e6c32e60449084723371c01c4f', 0.8176325138513264),
 ('x0_f55f59c6d35a94591da33f29e1f74a2f', 0.8176325138513264),
 ('x0_f8524a8d924bd207a256c1ee68bdbf49', 0.8176325138513264),
 ('x0_f8ef7fe962217fc3a036969bf432b82c', 0.8176325138513264),
 ('x0_f9372de3c8ea501601aa3fb59ec0f524', 0.8176325138513264),
 ('x0_f94b09a093db5478467f695a606b8a18', 0.8176325138513264),
 ('x0_fcb744f47152acb7e40eb6cdadb0bc61', 0.8176325138513264),
 ('x0_fce6305084f5d1bb2ce00b382c2b8fd2', 0.8176325138513264),
 ('x0_01032ecdb753c5c2fe718f0866bd8f75', 0.0),
 ('x0_023961427a5984cfb941319da98bb2da', 0.0),
 ('x0_03868627a38ab7fd8fb79b45398412bc', 0.0),
 ('x0_04814766f679bd3db04cb360a40eea98', 0.0),
 ('x0_0522f034d92505403780e145f7c27f6e', 0.0),
 ('x0_06073ee51e18966b739276e960fc5bf9', 0.0),
 ('x0_0665cb42aa2bc8ee7032ac94dbc9ccc9', 0.0),
 ('x0_0790eadd4edf6d42daab0525e0bc2979', 0.0),
 ('x0_07a34ca96dfbb0316b61c863efff199a', 0.0),
 ('x0_07aca19e7297472c1ebd54da682766a8', 0.0),
 ('x0_089063a0df0b31391020f06a5bd0f21e', 0.0),
 ('x0_0b8103f1da3e7ebd84b0e4ffc785dc69', 0.0),
 ('x0_0d3ed29be9cc1ce8b762305b8eaa22ba', 0.0),
 ('x0_0e20b215306dafdecb0bc0d792a55a25', 0.0),
 ('x0_10bfe3289b7f6b80ae53a153e3e0a440', 0.0),
 ('x0_11233f3e81d29db9b19516baf6481813', 0.0),
 ('x0_113490d6fc1df347d96ddb7b3f65dc03', 0.0),
 ('x0_1222d2c344d1a60fffe807433ac2aced', 0.0),
 ('x0_133653096d1dfddbbec5a3a7d50de5b8', 0.0),
 ('x0_13e4b75cc3979967ac3a7745a114d57d', 0.0),
 ('x0_1508b06b5fe856130a5b8b03419703dc', 0.0),
 ('x0_151dbe8fcf5e3fc4e0fdcc302abe3f29', 0.0),
 ('x0_15bc8fce5b7b4d8bea3d2fbcaaf54a32', 0.0),
 ('x0_1655980996bec49250e0bf12764fdd11', 0.0),
 ('x0_167dfc4d21d6eda0e8eb540ca24d0db9', 0.0),
 ('x0_16efbf65cd5a57350667900ac95584e8', 0.0),
 ('x0_182c0b03a6c863261df05d443cf4c8dd', 0.0),
 ('x0_1869261885124dac25a6360fb76a141c', 0.0),
 ('x0_18749def1b4df63ca8ea7e4a89d66411', 0.0),
 ('x0_190df664476d0b0f2139e7607cc35780', 0.0),
 ('x0_1987779eac7a511b3f3268f6ba9a5ec6', 0.0),
 ('x0_1bc255b9da1f2d7a1eccfcd39ba466d4', 0.0),
 ('x0_1c55c3063167867e0c61d91417d8e2eb', 0.0),
 ('x0_1e2c90aed459118903db72db5e32c184', 0.0),
 ('x0_1ebe3e69e1c63fa36c978744d1fd7db0', 0.0),
 ('x0_1f37c6884a2584cf577e2f16f2fdc35b', 0.0),
 ('x0_1f69c589b4a35094102a63eec775d176', 0.0),
 ('x0_205ede8a2d039edf20c8605ded5db38e', 0.0),
 ('x0_21bceda7d9c631904fb4cde99d18e2e4', 0.0),
 ('x0_221fc93ef81d52013dba2ecb08a060ff', 0.0),
 ('x0_2225a4b284a9b69745311efb4899dd0b', 0.0),
 ('x0_22cb9851885bc3fcdc10c7430a5c0413', 0.0),
 ('x0_231ab2482fbf70fafeb7e5612380a9e7', 0.0),
 ('x0_23216b49991a67aa719685505a99599b', 0.0),
 ('x0_2400a719267e81041d3c07327727e645', 0.0),
 ('x0_2407c1092817fd8e47deea4983c110d6', 0.0),
 ('x0_246fd178ac9a7dd188e08a58251f969f', 0.0),
 ('x0_25e6b3b1e0f779eea9afea24afba524a', 0.0),
 ('x0_261c2ea208ea8ff8cf8a2a025ed1ab42', 0.0),
 ('x0_269b60771fde96350d8b3a442e344de7', 0.0),
 ('x0_2764b5a95a53bafc2c8ff96a95c284ce', 0.0),
 ('x0_282db9426f397da939f7e5c597b8e256', 0.0),
 ('x0_291b00f80b5a6391d50da4503aa92e09', 0.0),
 ('x0_295ca20da83d2015e708102729ad7dbf', 0.0),
 ('x0_298c2c93ed2c1c3b356c8e86fd7ea423', 0.0),
 ('x0_2a0044b2db5ff104374b74d742f94d10', 0.0),
 ('x0_2a6bcf3291a926740baaf54b14f2bc36', 0.0),
 ('x0_2bc8b831cf0797d5d6a1a07c08b57931', 0.0),
 ('x0_2ca512c5e312da61ad185088f3693ed7', 0.0),
 ('x0_2d7f62ba8eee7d8add2719c3be67a00c', 0.0),
 ('x0_2dd341447c5b66c98779ce3d3657c38a', 0.0),
 ('x0_2e162be9ad049d5889629ebc7d8065be', 0.0),
 ('x0_2e6d6298159a3703922a77a75ef1bdb9', 0.0),
 ('x0_30306eda1b6830fbafb0bed3554b1e61', 0.0),
 ('x0_3115502139a6bd95103a2a683826bf38', 0.0),
 ('x0_31a29aa54d03452aea4bd89533fb8d3a', 0.0),
 ('x0_31e5ab619cd237a21dc7cacadc59bbfb', 0.0),
 ('x0_323632e4ae472864b9bab254ffcb042b', 0.0),
 ('x0_33024b7fe16e1455324371c705db4fa4', 0.0),
 ('x0_336e77fc019d6c48831cce1f53e3cd4e', 0.0),
 ('x0_340f90e74d25974d279e6a0d3d380084', 0.0),
 ('x0_35313f3f087e31b4b634e9e26a71d0a3', 0.0),
 ('x0_3621b51e1cb02bb78ea68da7741422eb', 0.0),
 ('x0_379d6aa31ab2475d7dcbdc31310ca0af', 0.0),
 ('x0_37ec1b26fdc46cb2c9139034e530aa5b', 0.0),
 ('x0_38b4d26025e4ca03054b72296e3845fc', 0.0),
 ('x0_39dff6ca5601a9d68e25d71d346d52b5', 0.0),
 ('x0_3b6133bcb4478ffd02c49bfb429886dc', 0.0),
 ('x0_3b85b2c7b424618f533329018e9a11d5', 0.0),
 ('x0_3b8bcd4397d65b815fc359ff94bcfc82', 0.0),
 ('x0_3b8c9f5bef521bf5fac16e6f6925db47', 0.0),
 ('x0_3bac1ef2c1892f94fdcc5ebd0edbd421', 0.0),
 ('x0_3bd94c8f4ec2a4dba9523be20d99f688', 0.0),
 ('x0_3cef2a6c46d6042c5fa124a0b1fb29c5', 0.0),
 ('x0_3ef2310ad384a253c85836b08a12471a', 0.0),
 ('x0_3f11d6f31737bfff0277ff03c1b67137', 0.0),
 ('x0_3f87dd14f68491188f903e287bec4d12', 0.0),
 ('x0_41f7ea9191266f44169362a55a90d822', 0.0),
 ('x0_42ebe253996c983a633eabe426c83e2d', 0.0),
 ('x0_43ecffb93ea5fb7c57d6165a1864fcea', 0.0),
 ('x0_44fa7a034e4628d0992ae39a643ce7fe', 0.0),
 ('x0_461438e32effd4b6c0e79a13d707d600', 0.0),
 ('x0_46dae4595aafc6a9adb57626e8acdd4c', 0.0),
 ('x0_484782f5c4a4edccf2e7a45e15880d4f', 0.0),
 ('x0_48d3d630cde0895be9af01796b7d4b5a', 0.0),
 ('x0_49dfaca4169cada5361c84915b007283', 0.0),
 ('x0_4b18083194836ea1726753f554ae0181', 0.0),
 ('x0_4b89ea6302c5bdfd374f0055f255ba48', 0.0),
 ('x0_4db4b6535fed9133569d398d359732a2', 0.0),
 ('x0_4e689b78b5d1cc5c1eba5e1d18e0b039', 0.0),
 ('x0_50c5618b3003ceb3b8a38ee6c5b91864', 0.0),
 ('x0_53180cf0fa221158e495b9ad06d562be', 0.0),
 ('x0_539d1cfe4bab6acfab1fe60a9f4e80b6', 0.0),
 ('x0_542adcddd0b838c9250e278b330a9d4e', 0.0),
 ('x0_54446f1f00bca8227337aa79104606f5', 0.0),
 ('x0_54a05156c97cd830cb76f2442719204e', 0.0),
 ('x0_54b0533a58fa2fead43f132c8a5fc60d', 0.0),
 ('x0_56058d7b06f78e2b6cb6582a7d004f03', 0.0),
 ('x0_564a19483a1b1379899f9d89e4b28681', 0.0),
 ('x0_582fa185691a5a706d4666baa70f3285', 0.0),
 ('x0_592c0db8eab198ee38694a54e16702ea', 0.0),
 ('x0_5958ec75161d86b21964a51381fce4cb', 0.0),
 ('x0_5af60317e02909afd2ef311bd8fba696', 0.0),
 ('x0_5b50407f35ef06fa6705c9fef5eebdb0', 0.0),
 ('x0_5be88ef595081fc61b6ab6d662a03a2a', 0.0),
 ('x0_5cd1db9be01e2558d8b38a5c5afba30b', 0.0),
 ('x0_5cd33ee400f90bf7d83ac5434d2f1850', 0.0),
 ('x0_5e1f3c4215992f0b20a2e0c76294c63d', 0.0),
 ('x0_5ed70d14770d46a40ef282934e79f82c', 0.0),
 ('x0_5f4de5c4bf86c0d5478c98a882714eec', 0.0),
 ('x0_5f50892e6ea46f7892587e7c463845f4', 0.0),
 ('x0_5f5fe2364e383d1c7afa445a8384dc7e', 0.0),
 ('x0_601d8883baeb0e557036de9f07d6be4a', 0.0),
 ('x0_60c40a26afc5a949487a397370b51a57', 0.0),
 ('x0_643ce33d53b509743288b1985492ecbe', 0.0),
 ('x0_650ac33d3c1493ed1c6c4c1f0365d4d1', 0.0),
 ('x0_651fffb7a73f4df652ba22beb348d2fe', 0.0),
 ('x0_658f79883c5ec6a47c71510ebeddaa3d', 0.0),
 ('x0_671b6727608dc5b7d485ba556df44902', 0.0),
 ('x0_67b1664bd9001245124284c9f4a8abcf', 0.0),
 ('x0_67c58e84779ed54389840e64b081d010', 0.0),
 ('x0_68749401cd6551944728314f0fd778fc', 0.0),
 ('x0_6889024aed922cef1c43ca7720b47dfd', 0.0),
 ('x0_69cf8183728442137f1ce0e726779be9', 0.0),
 ('x0_69e833f8e87dc94fb3688c0f4b6e51b1', 0.0),
 ('x0_6c5fdf430db7fe559ec990c1b483eeab', 0.0),
 ('x0_6db94b2e70fad5277af01fc96fc28f25', 0.0),
 ('x0_6e0a0195ede59a98d11b380213c364e8', 0.0),
 ('x0_6e58a20b8fe97c5f73815046be1c41df', 0.0),
 ('x0_70caa7ff0f743fc2d3330c2839500cfd', 0.0),
 ('x0_71bfa5ca13b1ef9a2065ca045ce37df4', 0.0),
 ('x0_73205750cd38ca8449c7a7620851f31a', 0.0),
 ('x0_73be8eaf0253d7bd0e910a07a1de77ef', 0.0),
 ('x0_75cfbca5869a314e0fbb18cb6ee09ee7', 0.0),
 ('x0_75e0f37f98b4838d90515bf86b5a61b4', 0.0),
 ('x0_77a595f9fb214a8877c49f0c1e354f7e', 0.0),
 ('x0_785fcbd5ef9fdc348bc4400ced0adb0e', 0.0),
 ('x0_78ad255187e657a878b92b159db8e77d', 0.0),
 ('x0_78f235ae65380bef444c76414389a7b9', 0.0),
 ('x0_79362d952e026d11d2a9bc4bf2190838', 0.0),
 ('x0_7b254086886382cf10537256dc8fa938', 0.0),
 ('x0_7b34fe22863b609a7114d7c4e69a2d73', 0.0),
 ('x0_7b9806caf7f8a999f2739938dd1084b9', 0.0),
 ('x0_7c249305f28c24ccb95e1ee853a46c54', 0.0),
 ('x0_7d5f0ec27edf64b5cef04fb341cd3308', 0.0),
 ('x0_7db3a9a7df3767acb5fdf0810dca040a', 0.0),
 ('x0_7e83bdcb8cd14d46a2ac7260cb75da63', 0.0),
 ('x0_8013d9b111105159f731d06a249e3eb6', 0.0),
 ('x0_8048b206925668a2c505af49037d3591', 0.0),
 ('x0_815ad79fcb301a2833d5c51028084ed3', 0.0),
 ('x0_81d82ce799bd6eee99ace60c8a89ee2a', 0.0),
 ('x0_81e57fe6640477e605f65d565cd41121', 0.0),
 ('x0_847c7d77f102c2fb4583cc90045ff348', 0.0),
 ('x0_84b3c855b778d8282c16babdc8a3037e', 0.0),
 ('x0_84c522156b3c6c1f674ed0042585e774', 0.0),
 ('x0_84e683021beb4c26882eb9a6c7820c1c', 0.0),
 ('x0_85bedf89f027b03f4cce95b43df8026e', 0.0),
 ('x0_87de526ac0f834b1d2fa83f17e3dacbd', 0.0),
 ('x0_87f6a05eddf576a1a940d9bc047cca13', 0.0),
 ('x0_881744ff6f5151b5e341d4a69d56c62b', 0.0),
 ('x0_88cb5055d3075970781a4b874543b8ba', 0.0),
 ('x0_8b393ea8858052b0cf9e3ac5a40f86e2', 0.0),
 ('x0_8b586646940d1f2d5c9e08af95b62dde', 0.0),
 ('x0_8e7cd8e5f0d693c7f1176a094192f8ee', 0.0),
 ('x0_8eeae2deadbd61ee1526f67dbd343c7a', 0.0),
 ('x0_8eeba5ee0e044251ae5a25d50fe6ea16', 0.0),
 ('x0_8f85ff581563594ae659797169316dc2', 0.0),
 ('x0_8fc84a6853c220d4f7f8dce050943b36', 0.0),
 ('x0_90384267c12dc4a5fc890800960b5b84', 0.0),
 ('x0_91571672532fc1dfcd5fbd4fbc7bb178', 0.0),
 ('x0_9159a3b986fa2412799e2b086703cb80', 0.0),
 ('x0_9166739ebbf57b2f3c1ad21e05488a9c', 0.0),
 ('x0_919cde7b0e4e2222ff724ce8b3cdbadc', 0.0),
 ('x0_92f26ff21e1a4ed143c5ba853e327b79', 0.0),
 ('x0_934923b04f04de2d04be783cf2688ccd', 0.0),
 ('x0_945a81dc3eb0af01cd40f94251f20611', 0.0),
 ('x0_948777ed1bcfad80042abc917cc0908f', 0.0),
 ('x0_94f70c7ba65e34c7b2a6060aed2ab4a6', 0.0),
 ('x0_965778bdeba01f86ef7f5f0c2a287e50', 0.0),
 ('x0_974cd865d86832aa1ee41d0d6b6f5499', 0.0),
 ('x0_97c723950f938e4d61c5fd3a1927801a', 0.0),
 ('x0_97f1cc30881cedb600b5ff3c31806bfe', 0.0),
 ('x0_993f68baf0adb375b76765fbbfa66ed8', 0.0),
 ('x0_9941da0a14a1ced68d9758e9e28573c9', 0.0),
 ('x0_99681d8f400b0f8ccaab9c31a3ae7428', 0.0),
 ('x0_9977dd7ac5c8e63467193ea317d699cb', 0.0),
 ('x0_997c6d7165999aced2598d39df4b2243', 0.0),
 ('x0_99ed00ec2d5fe579ced235871df14138', 0.0),
 ('x0_9a82e0294806f1202045279075a3d13f', 0.0),
 ('x0_9ad48caa36bf050c348d8111420c1bc4', 0.0),
 ('x0_9c128824440ad1abfe60ebdae3dde022', 0.0),
 ('x0_9dfb978e6263a2c89fd39547812c1292', 0.0),
 ('x0_9e50ddc1ba273382fc861b0e7eb0c6bd', 0.0),
 ('x0_9f8a56cc6f4e8f3c3e51e60b4e5848ff', 0.0),
 ('x0_a0a5fbc2b65e62aa59a1abe900938b30', 0.0),
 ('x0_a0aa42debb97391fe368e7481784bdb2', 0.0),
 ('x0_a11425abdc1e47df8cb046c9d6a7928e', 0.0),
 ('x0_a3d2fc3c39930a63acc0e5fcd1de8c62', 0.0),
 ('x0_a5dfda445581c81ce51b86096b59fb08', 0.0),
 ('x0_a5f9bfdf9462839b6a5b44994e7bb5b5', 0.0),
 ('x0_a644c1f6e1a4bfef696746c43e25df35', 0.0),
 ('x0_a719f7da4ad17212fbeecb331a334ee4', 0.0),
 ('x0_a7bd25fd50f3ed24d0fd45a3788f46cf', 0.0),
 ('x0_acd2c173eef280129c8782c164907fa9', 0.0),
 ('x0_ae3e585c218d8cf4dedf7c7b34bd3f60', 0.0),
 ('x0_af803f142a137653390a595098a4cf80', 0.0),
 ('x0_b02bc20d4baad0d743ab29086544a730', 0.0),
 ('x0_b0d64a1fa0b568a96ab6b602cffbafb7', 0.0),
 ('x0_b1abe1b63f25bb64bbbbe857c3faea00', 0.0),
 ('x0_b1c70aa940393d3120060578b533731e', 0.0),
 ('x0_b23a4ab12d019a03694cfea1f142a92b', 0.0),
 ('x0_b23cdec4771a20a5622e8045ed21ea93', 0.0),
 ('x0_b4adbd03b78617451d9d0928d3a8ab24', 0.0),
 ('x0_b515a063ed6c7d9724e4bf94b014b2ae', 0.0),
 ('x0_b5f11b2d188bd383eda3d00154849f4b', 0.0),
 ('x0_b7d85f3586c97b231d554fa4e7819cf5', 0.0),
 ('x0_b81e2c8f26f9fa45891e5211ea44728d', 0.0),
 ('x0_b89834b8f20e5f19d71df4b3e5f9dcb5', 0.0),
 ('x0_b9687dda69cfdd97450bbde39a9bf036', 0.0),
 ('x0_bb5a790ddee1917dc10a9996b43708ff', 0.0),
 ('x0_bb6f56906058b6d6664f66d354f26b8e', 0.0),
 ('x0_bd00c3893667d66c5906609c13e1e807', 0.0),
 ('x0_bd78f9bd3566f0e987c7b88c4944a888', 0.0),
 ('x0_bdb4c30f66311ee5d02dcfeca81c7449', 0.0),
 ('x0_be0733d02defd7a6c3512359f255516d', 0.0),
 ('x0_beabf908acbc853125ddd6b040dd25a7', 0.0),
 ('x0_bfc7e857c666777a3ee53a9ed576ccdb', 0.0),
 ('x0_c03a825c149a226204b684a6d8ae04bb', 0.0),
 ('x0_c3305aab374b946badee08a78134e5ba', 0.0),
 ('x0_c54050e4bc6aaab78b32c970ae7d52d9', 0.0),
 ('x0_c5c4bb086d43e9edbb917176dd09c231', 0.0),
 ('x0_c5db6df5bd2651431c6ea52f6bde4587', 0.0),
 ('x0_c727b3f2b6f6547df70e9f1673d77c82', 0.0),
 ('x0_c83800e45daa787cdbd793520de44052', 0.0),
 ('x0_c937a120ea7aaa6c4ffe34b789989c5f', 0.0),
 ('x0_ca6449c11078de33aa8c6712cf03230b', 0.0),
 ('x0_ca6a4eb6a418ebea80461dd1e0d974f8', 0.0),
 ('x0_d03a5e4824a1ff482a46a924f42adee2', 0.0),
 ('x0_d284618a5221715ca2248e7c1805d482', 0.0),
 ('x0_d373d74278f8f4874e9f5f05bfcbb8a3', 0.0),
 ('x0_d5378154be10a35d0a68a94db9513585', 0.0),
 ('x0_d6d71a284f28bf7b6bb5fb86a1d62320', 0.0),
 ('x0_d757ddd3681986e7b255b8cc81c06ced', 0.0),
 ('x0_d83da7ab2b6c6bea42da0748534282e8', 0.0),
 ('x0_d8a4f831220f67faa92998e99d984237', 0.0),
 ('x0_d900ea7f54caa045e15be65799806438', 0.0),
 ('x0_d9552a519c6c450ef1fa0aee79ca75d5', 0.0),
 ('x0_da4fa0723fc752480e7634ecb7650c02', 0.0),
 ('x0_dae6482d7e33dc8ae276a957f0c4bfe6', 0.0),
 ('x0_db7060830d3f0f7cd8487c054a433086', 0.0),
 ('x0_dbbaa9a1d08fe92805e2adb3b28f9cc6', 0.0),
 ('x0_dd86c20d6390dc5ea8278adc5db0ddb8', 0.0),
 ('x0_dd9e0cf5b4db29fe36e9ec5a912c5359', 0.0),
 ('x0_de7f9cc2d8acb79ccb499d865b2d956a', 0.0),
 ('x0_e4887108010a516dc9320ac2165cac83', 0.0),
 ('x0_e4b5b795d712eb78e37ea0375a6e39fc', 0.0),
 ('x0_e4ea975159e2a0be76e698079e2f5d29', 0.0),
 ('x0_e8404762b1ed59b45b52a1fd60b6c1bc', 0.0),
 ('x0_e8846ddbab790213e926bccada473a5a', 0.0),
 ('x0_e936bf08d0eaa6821e49fb670b879408', 0.0),
 ('x0_eb7bbacd964a191c4a912ce1fea49ce0', 0.0),
 ('x0_ed1937d411981a3b823bbe95e291dc7a', 0.0),
 ('x0_ee2b686edf475924cd2af47918c01c33', 0.0),
 ('x0_ee7192874c780a38ef58f4944a53d28b', 0.0),
 ('x0_ee80979e385a8f7edc3570dee5bdd44c', 0.0),
 ('x0_ee9f1d573bd2a0e8f1acb026e4debc1d', 0.0),
 ('x0_ef472bb61030d8135c54f59be984e617', 0.0),
 ('x0_f1d5aea76a1df96be7e75447381cadbf', 0.0),
 ('x0_f2d25a85191cfd5e9fbcaefce3a1b774', 0.0),
 ('x0_f31c37f308a2c2d5fab3a1708b755f89', 0.0),
 ('x0_f38c6752f007d8af8223f29f0f1d7554', 0.0),
 ('x0_f6562b29243d5effcc98e671689a9455', 0.0),
 ('x0_f667bfbf44cdbfda1fc1a0d205f0450c', 0.0),
 ('x0_f6c9c535e9750ab3351363d6b780ded5', 0.0),

It shows which customers have the longest history if delays.

Let's compare the effect of the distance between customers' homes to the library versus some other factors: books' price, number of pages, and publsihDate; and customers' birth_date and gender:

In [194]:
X_merge_Y['distance'] = np.sqrt((X_merge_Y.lat_customer - X_merge_Y.lat_library)**2 + 
                                (X_merge_Y.lng_customer - X_merge_Y.lng_library)**2)

X_merge_Y['gen'] = (X_merge_Y['gender']=='male').astype(int).values
X_Y = X_merge_Y[['distance','birth_date','gen', 'pages', 'price', 'publishedDate','delay']]

df_train, df_test = train_test_split(X_Y, test_size=.2)

In [196]:
x = df_train[['distance','birth_date','gen', 'pages', 'price', 'publishedDate']]
y = df_train.delay.values.astype(int).reshape(-1,1)

impute = SimpleImputer()
scaler = StandardScaler()
x_tr = scaler.fit_transform(impute.fit_transform(x))

log_model = LogisticRegression()
log_model.fit(x_tr,y)

x_test = df_test[['distance','birth_date','gen', 'pages', 'price', 'publishedDate']]
y_test = df_test.delay.values.astype(int).reshape(-1,1)

y_pred = log_model.predict(scaler.transform(impute.transform(x_test)))
print('accuracy: ', accuracy_score(y_test, y_pred))

accuracy:  0.9518900343642611

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [197]:
log_model.coef_

array([[ 1.24192012, -0.28020759, -0.07094125,  1.10012226, -0.0965768 ,
        -0.12858976]])

In [206]:
tup = [(a,b) for a,b in zip(x_test.columns, log_model.coef_[0])]
sorted(tup, key=lambda x:-x[1])

[('distance', 1.2419201160808762),
 ('pages', 1.1001222591179558),
 ('gen', -0.07094124549523124),
 ('price', -0.09657679710918221),
 ('publishedDate', -0.1285897620638344),
 ('birth_date', -0.2802075879490793)]

If we got it right, it shows that customer's age and gender, and book's age and price doesn't affect the delays in return but interestingly, the distance from your home to the library does... And also the weight of the book! (As proxied by the total number of pages). So the heavier the book is and the farther you are from the library, it's much more likely that you procrastinate in returning the book.